DeleteDeactivateContractTemplate/XSD&Swagger/XSD/DeleteDeactivateContractTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/ContractManagement/DeleteDeactivateContractTemplate/v1.0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:bons0="http://Qiwa/ContractManagement/DeleteDeactivateContractTemplate/v1.0" 
xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:Q1="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>


	<xsd:element name="DeleteDeactivateContractTemplateRq" type="bons0:DeleteDeactivateContractTemplateRq_Type"/>
	<xsd:element name="DeleteDeactivateContractTemplateRs" type="bons0:DeleteDeactivateContractTemplateRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="DeleteDeactivateContractTemplateRq_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:DeleteDeactivateContractTemplateRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="DeleteDeactivateContractTemplateRs_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLResponseHeader_Type"/>
				<xsd:element name="Body" type="bons0:DeleteDeactivateContractTemplateRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="DeleteDeactivateContractTemplateRq_BodyType">
		<all>
			<element minOccurs="1" name="LaborOfficeId" type="integer"/>
			<element minOccurs="1" name="SequenceNumber" type="integer"/>
			<element minOccurs="1" name="TemplateId" type="integer"/>
			<element minOccurs="1" name="DeleteOrDeactivate" type="bons0:DeleteOrDeactivate_Type"/>
		
		</all>
	</complexType>
	<simpleType name="DeleteOrDeactivate_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
		</restriction>
	</simpleType>
	<complexType name="DeleteDeactivateContractTemplateRs_BodyType">
		<all>
			
		</all>
	</complexType>
	
	


</xsd:schema>