GetEstablishmentContractTemplatesList/XSD&Swagger/XSD/GetEstablishmentContractTemplatesList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/ContractManagement/GetEstablishmentContractTemplatesList/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/ContractManagement/GetEstablishmentContractTemplatesList/v1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:Q1="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>


	<xsd:element name="GetEstablishmentContractTemplatesListRq" type="bons0:GetEstablishmentContractTemplatesListRq_Type"/>
	<xsd:element name="GetEstablishmentContractTemplatesListRs" type="bons0:GetEstablishmentContractTemplatesListRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="GetEstablishmentContractTemplatesListRq_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:GetEstablishmentContractTemplatesListRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="GetEstablishmentContractTemplatesListRs_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLResponseHeader_Type"/>
				<xsd:element minOccurs="1" name="Body" type="bons0:GetEstablishmentContractTemplatesListRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="GetEstablishmentContractTemplatesListRq_BodyType">
		<all>
			<element minOccurs="1" name="LaborOfficeId" type="integer"/>
			<element minOccurs="1" name="SequenceNumber" type="integer"/>
			<element minOccurs="0" name="StatusId" type="integer"/>
			<element minOccurs="1" name="PageSize" type="integer"/>
			<element minOccurs="1" name="PageIndex" type="integer"/>
		
		</all>
	</complexType>
	
	<complexType name="GetEstablishmentContractTemplatesListRs_BodyType">
		<all>
			<element minOccurs="0" name="TemplatesList" type="bons0:TemplatesList_Type"/>
			<element minOccurs="0" name="TotalRecordsCount" type="integer"/>
		</all>
	</complexType>
	
	<complexType name="TemplatesList_Type">
		<sequence>
			<element minOccurs="0" maxOccurs="unbounded" name="TemplatesItem" type="bons0:TemplatesItem_Type"/>
		</sequence>
	</complexType>

	<complexType name="TemplatesItem_Type">
		<all>
			<element minOccurs="1" name="TemplateId" type="integer"/>
			<element minOccurs="1" name="TemplateName" type="string"/>
			<element minOccurs="1" name="TemplateDescription" type="string"/>
			<element minOccurs="1" name="CreationDate" type="Q1:Tmstmp_Type"/>
			<element minOccurs="1" name="RequesterIdNo" type="integer"/>
			<element minOccurs="1" name="RequesterName" type="string"/>
			<element minOccurs="1" name="NumberOfContracts" type="integer"/>
		</all>
	</complexType>



</xsd:schema>