TerminateContractLib/GetEstablishmentEmployeesListTC/GetEstablishmentEmployeesListTC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/TerminateContract/GetEstablishmentEmployeesListTC/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/TerminateContract/GetEstablishmentEmployeesListTC/v1.0" xmlns:bons1="http://Qiwa/Common/Types" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">

<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>
<xsd:element name="GetEstablishmentEmployeesListTCRq" type="bons0:GetEstablishmentEmployeesListTCRq_Type"/>
<xsd:element name="GetEstablishmentEmployeesListTCRs" type="bons0:GetEstablishmentEmployeesListTCRs_Type"/>

<complexType name="GetEstablishmentEmployeesListTCRq_Type">
		<sequence>
				<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:GetEstablishmentEmployeesListTCRq_BodyType"/>
		</sequence>
</complexType>

	<complexType name="GetEstablishmentEmployeesListTCRs_Type">
		<sequence>
				<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
				<xsd:element minOccurs="0" name="Body" type="bons0:GetEstablishmentEmployeesListTCRs_BodyType"/>
			</sequence>
		</complexType>
	


	<complexType name="GetEstablishmentEmployeesListTCRq_BodyType">
		<all>
			<element minOccurs="1" name="LaborOfficeId" type="integer" />
			<element minOccurs="1" name="SequenceNumber" type="integer" />
			<xsd:element name="ForeignersOrSaudi" type="bons0:ForeignersOrSaudi"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="LaborerFirstName" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="LaborerIdNo" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="BorderNumber" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="WPExpiryDateFrom" type="bons1:Dt_Type"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="WPExpiryDateTo" type="bons1:Dt_Type"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="IdExpiryDate" type="bons1:Dt_Type"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="ServiceStartDate" type="bons1:Dt_Type"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="PageSize" type="xsd:integer"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="PageIndex" type="xsd:integer" minOccurs="0" maxOccurs="1"></xsd:element>
		</all>
	</complexType>

	
	<complexType name="GetEstablishmentEmployeesListTCRs_BodyType">
		<all>
			<element minOccurs="1" name="EstablishmentDetails" type="bons0:EstablishmentDetails_Type"/>
            <element minOccurs="1" name="Laborers" type="bons0:Laborers_Type" />
            <element minOccurs="1" name="TotalRecordCount" type="xsd:integer"/>


 
			
		</all> 
	</complexType>
	
	<complexType name="EstablishmentDetails_Type">
        <xsd:all>
			<element minOccurs="1" name="EstablishmentId" type="xsd:integer" />
			<xsd:element name="LaborOfficeId" type="xsd:integer" minOccurs="1">
			</xsd:element>
			<xsd:element name="SequenceNumber" type="xsd:integer" minOccurs="1">
			</xsd:element>
			<xsd:element name="EstablishmentName" type="xsd:string" minOccurs="1"></xsd:element>
		</xsd:all>
	</complexType>
	
	<complexType name="Laborers_Type">
        <xsd:sequence>
			<element minOccurs="1" name="Laborer" type="bons0:Laborer_Type" />


		</xsd:sequence>
	</complexType>
	
	<complexType name="CodeName_Type">
		<all>
			<element minOccurs="1" name="Code" type="integer"/>
			<element minOccurs="1" name="Name" type="string"/>
		</all>
	</complexType>

	<xsd:simpleType name="ForeignersOrSaudi">
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="0"></xsd:enumeration>
			<xsd:enumeration value="1"></xsd:enumeration>
			<xsd:enumeration value="2"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="Laborer_Type">
        <xsd:all>
        	<xsd:element name="LaborerIdNo" type="xsd:integer"
        		minOccurs="1">
        	</xsd:element>
        	<xsd:element name="LaborerName"
        		type="bons0:LaborerName_Type" minOccurs="1">
        	</xsd:element>
        	<xsd:element name="Gender" type="xsd:string"
        		minOccurs="1">
        	</xsd:element>
        	<xsd:element name="Nationality" type="bons0:CodeName_Type"
        		minOccurs="1">
        	</xsd:element>
        	<xsd:element name="Job" type="bons0:CodeName_Type"
        		minOccurs="1">
        	</xsd:element>
        	<xsd:element name="LaborerStatus" type="bons0:CodeName_Type"
        		minOccurs="1">
        	</xsd:element>
        	<xsd:element name="EntryDate" type="bons1:Tmstmp_Type"
        		minOccurs="1">
        	</xsd:element>
        	<xsd:element name="WorkPermitId" type="xsd:integer"
        		minOccurs="1">
        	</xsd:element>
        	<xsd:element name="IdExpiryDate" type="bons1:Tmstmp_Type"
        		minOccurs="1">
        	</xsd:element>
        	<xsd:element name="ServiceStartDate"
        		type="bons1:Tmstmp_Type" minOccurs="1">
        	</xsd:element>
        	<xsd:element name="ServiceEndDate"
        		type="bons1:Tmstmp_Type" minOccurs="1">
        	</xsd:element>
        	<xsd:element name="BorderNumber" type="xsd:integer"
        		minOccurs="1">
        	</xsd:element>
        	<xsd:element name="WPDetails" type="bons0:WPDetails_Type" minOccurs="1"></xsd:element>
        	<xsd:element name="OriginalStartDate" type="bons1:Dt_Type" minOccurs="1"></xsd:element>
        </xsd:all>


	</xsd:complexType>

	<xsd:complexType name="LaborerName_Type">
		<xsd:sequence>
			<xsd:element name="First" type="xsd:string" minOccurs="1"></xsd:element>
			<xsd:element name="Second" type="xsd:string"
				minOccurs="1">
			</xsd:element>
			<xsd:element name="Third" type="xsd:string" minOccurs="1"></xsd:element>
			<xsd:element name="Fourth" type="xsd:string"
				minOccurs="1">
			</xsd:element>
			<xsd:element name="Full" type="xsd:string" minOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="WPDetails_Type">
		<xsd:sequence>
			<xsd:element name="WPStartDate" type="bons1:Tmstmp_Type"
				minOccurs="1">
			</xsd:element>
			<xsd:element name="WPExpirationDate"
				type="bons1:Tmstmp_Type" minOccurs="1">
			</xsd:element>
			<xsd:element name="WorkPermitType" type="bons0:CodeName_Type" minOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>