ApproveRejectTCCancelationByLaborer/XSD&swagger/XSD/ApproveRejectTCCancelationByLaborer.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://Qiwa/TerminateContract/ApproveRejectTCCancelationByLaborer/v1.0"
xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:bons0="http://Qiwa/TerminateContract/ApproveRejectTCCancelationByLaborer/v1.0"
xmlns:bons1="http://Qiwa/Common/Types" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>
	

    <xsd:element name="ApproveRejectTCCancelationByLaborerRq" type="bons0:ApproveRejectTCCancelationByLaborerRq_Type"/>
	<xsd:element name="ApproveRejectTCCancelationByLaborerRs" type="bons0:ApproveRejectTCCancelationByLaborerRs_Type"/>

	<complexType name="ApproveRejectTCCancelationByLaborerRq_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>
			<xsd:element name="Body" type="bons0:ApproveRejectTCCancelationByLaborerRq_BodyType"/>
		</sequence>
	</complexType>


	<complexType name="ApproveRejectTCCancelationByLaborerRs_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
			<xsd:element minOccurs="0" name="Body" type="bons0:ApproveRejectTCCancelationByLaborerRs_BodyType"/>
		</sequence>
	</complexType>


	<complexType name="ApproveRejectTCCancelationByLaborerRq_BodyType">
		<all>
		<element minOccurs="1" name="CancelationRequestId" type="integer"/>
		<element name="IsApproved">
  			<simpleType>
   				 <restriction base="integer">
    				 <enumeration value="1"/>
            		 <enumeration value="0"/>
    			</restriction>
 		 	</simpleType>
		</element>
		<element minOccurs="0" name="RejectionReason" type="string"/>
		 </all>
	</complexType>

	<complexType name="ApproveRejectTCCancelationByLaborerRs_BodyType">
		<all>
	
		</all>
	</complexType>
		
	
	
	
</xsd:schema>