GetContractTemplateDetails/XSD&Swagger/XSD/GetContractTemplateDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/ContractManagement/GetContractTemplateDetails/v1.0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:bons0="http://Qiwa/ContractManagement/GetContractTemplateDetails/v1.0" 
xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" 
xmlns:Q1="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>


	<xsd:element name="GetContractTemplateDetailsRq" type="bons0:GetContractTemplateDetailsRq_Type"/>
	<xsd:element name="GetContractTemplateDetailsRs" type="bons0:GetContractTemplateDetailsRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="GetContractTemplateDetailsRq_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:GetContractTemplateDetailsRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="GetContractTemplateDetailsRs_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLResponseHeader_Type"/>
				<xsd:element minOccurs="1" name="Body" type="bons0:GetContractTemplateDetailsRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="GetContractTemplateDetailsRq_BodyType">
		<all>
			<element minOccurs="0" name="TemplateId" type="integer"/>
			<element minOccurs="0" name="TemplateName" type="string"/>
			<element minOccurs="0" name="TemplateDescription" type="string"/>
			
		
		</all>
	</complexType>
	
	<complexType name="GetContractTemplateDetailsRs_BodyType">
		<sequence>
			<element minOccurs="1" name="TemplateDetails" type="bons0:TemplateDetails_Type"/>
			<element minOccurs="1" name="EstablishmentDetails" type="bons0:EstablishmentDetails_Type"/>
			<element minOccurs="1" name="LaborerDetails" type="bons0:LaborerDetails_Type"/>
			<element minOccurs="1" name="RequesterDetails" type="bons0:RequesterDetails_Type"/>
			<element minOccurs="1" name="ContractDetails" type="bons0:ContractDetails_Type"/>
			<element minOccurs="1" name="ClausesList" type="bons0:ClausesList_Type"/>
			<element minOccurs="1" name="Language" type="bons0:Language_Type"/>
			<element minOccurs="1" name="DateType" type="bons0:DateType_Type"/>
		</sequence>
	</complexType>
	
	<complexType name="TemplateDetails_Type">
		<all>
			<element minOccurs="1" name="TemplateId" type="integer"/>
			<element minOccurs="1" name="TemplateName" type="string"/>
			<element minOccurs="1" name="TemplateDescription" type="string"/>
			
		</all>
	</complexType>
	<complexType name="EstablishmentDetails_Type">
		<all>
			<element minOccurs="1" name="LaborOfficeId" type="integer"/>
			<element minOccurs="1" name="SequenceNumber" type="integer"/>
			<element minOccurs="0" name="EstablishmentId" type="integer"/>
			<element minOccurs="0" name="UnifiedNumberId" type="integer"/>
			<element minOccurs="0" name="EntityId" type="string"/>
			<element minOccurs="0" name="EstablishmentNameAr" type="string"/>
			<element minOccurs="0" name="EstablishmentNameEn" type="string"/>
			<element minOccurs="0" name="EstablishmentEmail" type="string"/>
			
		</all>
	</complexType>
	
	<complexType name="LaborerDetails_Type">
		<all>
			<element minOccurs="0" name="LaborerIdNo" type="integer"/>
			<element minOccurs="0" name="LaborerName" type="string"/>
			<element minOccurs="0" name="LaborerTypeId" type="integer"/>
			<element minOccurs="0" name="LaborerIdExpiryDate" type="date"/>
			<element minOccurs="0" name="LaborerEmail" type="string"/>
			<element minOccurs="0" name="LaborerMobileNumber" type="integer"/>
		</all>
	</complexType>
	
	<complexType name="RequesterDetails_Type">
		<all>
			<element minOccurs="0" name="RequesterIdNo" type="integer"/>
			<element minOccurs="0" name="RequesterName" type="string"/>
			<element minOccurs="0" name="RequesterUserId" type="integer"/>
		</all>
	</complexType>
	
	<complexType name="ContractDetails_Type">
		<all>
			<element minOccurs="0" name="JobTitle" type="bons0:JobTitle_Type"/>
			<element minOccurs="0" name="LaborerJobNumber" type="integer"/>
			<element minOccurs="0" name="ContractTypeId">
				<simpleType>
					<restriction base="integer">
						<enumeration value="1"/>
						<enumeration value="2"/>
						<enumeration value="3"/>
						<enumeration value="4"/>
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="1" name="ContractDurationId">
				<simpleType>
					<restriction base="integer">
						<enumeration value="1"/>
						<enumeration value="2"/>			
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="ContractPeriod" type="integer"/>
			<element minOccurs="0" name="ProbationPeriod">
				<simpleType>
					<restriction base="integer">
						<maxInclusive value="180"/>		
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="ProbationTerminationRight" type="bons0:CodeName_Type"/>
			<element minOccurs="0" name="WorkingHoursTypeId">
				<simpleType>
					<restriction base="integer">
						<enumeration value="1"/>
						<enumeration value="2"/>		
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="VacationPeriod">
				<simpleType>
					<restriction base="integer">
						<minInclusive value="21"/>		
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="Salary" type="decimal"/>
			<element minOccurs="1" name="SalaryType" type="bons0:CodeName_Type"/>
			<element minOccurs="0" name="PercentageReasonEN" type="string"/>
			<element minOccurs="0" name="PercentageReasonAR" type="string"/>
			<element minOccurs="0" name="StartDate" type="bons0:HGDate_Type"/>
			<element minOccurs="0" name="ExpiryDate" type="bons0:HGDate_Type"/>
			<element minOccurs="0" name="RenewalStatusId">
				<simpleType>
					<restriction base="integer">
						<enumeration value="1"/>
						<enumeration value="2"/>		
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="NoticePeriod" type="integer"/>
			<element minOccurs="0" name="SalaryFrequency">
				<simpleType>
					<restriction base="integer">
						<enumeration value="1"/>
						<enumeration value="2"/>		
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="AdditionalAllowancesList" type="bons0:AdditionalAllowancesList_Type"/>
			<element minOccurs="0" name="HoursPerWeek" type="integer"/>
			<element minOccurs="0" name="DaysPerWeek" type="integer"/>
			<element minOccurs="0" name="HoursPerDay" type="integer"/>
			<element minOccurs="0" name="OptionalArticles" type="bons0:OptionalArticles_Type"/>
		</all>
	</complexType>
	
	<complexType name="CodeName_Type">
		<all>
			<element minOccurs="0" name="Code" type="integer"/>
			<element minOccurs="0" name="NameAr" type="string"/>
			<element minOccurs="0" name="NameEn" type="string"/>
		</all>
	</complexType>
	<complexType name="JobTitle_Type">
		<all>
			<element minOccurs="0" name="JobTitleAr" type="string"/>
			<element minOccurs="0" name="JobTitleEng" type="string"/>
		</all>
	</complexType>
	<complexType name="HGDate_Type">
		<all>
			<element minOccurs="0" name="HijriDate" type="integer"/>
			<element minOccurs="0" name="GregDate" type="date"/>
		</all>
	</complexType>
	<complexType name="ClausesList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="AddedClauses" type="bons0:AddedClauses_Type"/>
			<element minOccurs="1" maxOccurs="unbounded" name="Allowances" type="bons0:Allowances_Type"/>
		</sequence>
	</complexType>
	
	<complexType name="AdditionalAllowancesList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="Item" type="bons0:Item_Type"/> 
			
		</sequence>
	</complexType>
	
	<complexType name="Item_Type">
		<all>
			<element minOccurs="0" name="BenefitNameAr" type="string"/>
			<element minOccurs="0" name="BenefitNameEn" type="string"/>
			<element minOccurs="0" name="FrequencyId" type="integer"/>
			<element minOccurs="0" name="FrequencyAr" type="string"/>
			<element minOccurs="0" name="FrequencyEn" type="string"/>
			<element minOccurs="0" name="AmountTypeId" type="integer"/>
			<element minOccurs="0" name="AmountTypeAr" type="string"/>
			<element minOccurs="0" name="AmountTypeEn" type="string"/>
			<element minOccurs="0" name="Amount" type="decimal"/> 
		</all>
	</complexType>
	<complexType name="OptionalArticles_Type">
		<all>
			<element minOccurs="0" name="Period" type="integer"/>
			<element minOccurs="0" name="Location" type="string"/>
			<element minOccurs="0" name="WorkField" type="string"/> 
		</all>
	</complexType>
	
	
	
	<complexType name="AddedClauses_Type">
		<all>
			<element minOccurs="1" name="Key" type="string"/>
			<element minOccurs="1" name="value" type="string"/>
			
		</all>
	</complexType>
	
	<complexType name="Allowances_Type">
		<all>
			<element minOccurs="1" name="Key" type="string"/>
			<element minOccurs="1" name="value" type="string"/>
			
		</all>
	</complexType>
	
	<complexType name="Language_Type">
		<all>
			<element minOccurs="1" name="LanguageId" type="integer"/>
			<element minOccurs="0" name="LanguageAr" type="string"/>
			<element minOccurs="0" name="LanguageEn" type="string"/>
			
		</all>
	</complexType>
	
	<complexType name="DateType_Type">
		<all>
			<element minOccurs="1" name="DateTypeId" type="integer"/>
			<element minOccurs="0" name="DateTypeAr" type="string"/>
			<element minOccurs="0" name="DateTypeEn" type="string"/>
			
		</all>
	</complexType>

</xsd:schema>