SubmitTCCancelationByLaborer/XSD&Swagger/XSD/SubmitTCCancelationByLaborer.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Qiwa/TerminateContract/SubmitTCCancelationByLaborer/v1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/TerminateContract/SubmitTCCancelationByLaborer/v1.0" xmlns:bons1="http://Qiwa/Common/Types" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>

 
	<xsd:element name="SubmitTCCancelationByLaborerRq" type="bons0:SubmitTCCancelationByLaborerRq_Type"/> 
	<xsd:element name="SubmitTCCancelationByLaborerRs" type="bons0:SubmitTCCancelationByLaborerRs_Type"/>
	
	<complexType name="SubmitTCCancelationByLaborerRq_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/> 
			<xsd:element name="Body" type="bons0:SubmitTCCancelationByLaborerRq_BodyType"/> 
		</sequence>
	</complexType>
	
	<complexType name="SubmitTCCancelationByLaborerRs_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
			<xsd:element name="Body" type="bons0:SubmitTCCancelationByLaborerRs_BodyType"/>
		</sequence>
	</complexType>

	<complexType name="SubmitTCCancelationByLaborerRq_BodyType">
		<all>
			<element minOccurs="1" name="TCRequestId" type="integer"/>
		</all>  
	</complexType>

	<complexType name="SubmitTCCancelationByLaborerRs_BodyType">
		<all>
			<element minOccurs="1" name="CancelationRequestId" type="integer"/>
		</all>
	</complexType>	
</xsd:schema>