GetTCLaborersList/XSD&Swagger/XSD/GetTCLaborersList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://Qiwa/TerminateContract/GetTCLaborersList/v1.0" 
xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/TerminateContract/GetTCLaborersList/v1.0" 
xmlns:bons1="http://Qiwa/Common/Types" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">

<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>
<xsd:element name="GetTCLaborersListRq" type="bons0:GetTCLaborersListRq_Type"/>
<xsd:element name="GetTCLaborersListRs" type="bons0:GetTCLaborersListRs_Type"/>

<complexType name="GetTCLaborersListRq_Type">
		<sequence>
				<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:GetTCLaborersListRq_BodyType"/>
		</sequence>
</complexType>

	<complexType name="GetTCLaborersListRs_Type">
		<sequence>
				<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
				<xsd:element minOccurs="0" name="Body" type="bons0:GetTCLaborersListRs_BodyType"/>
			</sequence>
		</complexType>
	


	<complexType name="GetTCLaborersListRq_BodyType">
		<all>
			
			 
		
			<element minOccurs="1" name="LaborOfficeId" type="integer"/>
			<element minOccurs="1" name="SequenceNumber" type="integer"/>
			<element minOccurs="0" name="LaborerIdNo" type="integer"/>
			<element minOccurs="0" name="OriginalStartDate" type="bons1:Dt_Type"/>
			<element minOccurs="0" name="LaborerName" type="string"/>
			<element minOccurs="1" name="PageSize" type="integer"/>
			<element minOccurs="1" name="PageIndex" type="integer"/>
			
		
			
		</all>
	</complexType>
	
	
	<complexType name="GetTCLaborersListRs_BodyType">
		<sequence>
			<element minOccurs="1" name="LaborerDetails" type="bons0:LaborerDetails_Type"/>
					<element minOccurs="1" name="TotalRecordCount" type="integer"/>
		</sequence> 
	</complexType>
	
	<complexType name="LaborerDetails_Type">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="1" name="Laborer" type="bons0:Laborer_Type"/>
	
		</sequence>
	</complexType>
	
	<complexType name="Laborer_Type">
		<sequence>
			<element minOccurs="1" name="LaborerIdNo" type="integer"/>
			<element minOccurs="1" name="LaborerName" type="string"/>
			<element minOccurs="1" name="OriginalStartDate" type="string"/>
		</sequence>
	</complexType>
</xsd:schema>