ContractAuthInd/XSD&Swagger/XSD/ContractAuthInd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/ContractManagement/ContractAuthInd/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/ContractManagement/ContractAuthInd/v1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:Q1="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>


	<xsd:element name="ContractAuthenticationIndicatorRq" type="bons0:ContractAuthenticationIndicatorRq_Type"/>
	<xsd:element name="ContractAuthenticationIndicatorRs" type="bons0:ContractAuthenticationIndicatorRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="ContractAuthenticationIndicatorRq_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:ContractAuthenticationIndicatorRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="ContractAuthenticationIndicatorRs_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLResponseHeader_Type"/>
				<xsd:element minOccurs="1" name="Body" type="bons0:ContractAuthenticationIndicatorRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="ContractAuthenticationIndicatorRq_BodyType">
		<all>
			<element minOccurs="1" name="LaborOfficeId" type="integer"/>
			<element minOccurs="1" name="SequenceNumber" type="integer"/>
			
		</all>
	</complexType>
	
	
	<complexType name="ContractAuthenticationIndicatorRs_BodyType">
		<all>
			<element minOccurs="1" name="ForeignersCount" type="integer"/>
			<element minOccurs="1" name="SaudisCount" type="integer"/>
			<element minOccurs="1" name="TotalLaborersCount" type="integer"/>
			<element minOccurs="1" name="ForeignersAuthenticatedContracts" type="integer"/>
			<element minOccurs="1" name="SaudisAuthenticatedContracts" type="integer"/>
			<element minOccurs="1" name="TotalAuthenticatedContracts" type="integer"/>
			<element minOccurs="1" name="SaudisAuthenticationPercentage" type="string"/>
			<element minOccurs="1" name="ForeignersAuthenticationPercentage" type="string"/>
			<element minOccurs="1" name="TotalAuthenticationPercentage" type="string"/>
		</all>
	</complexType>
	
	


</xsd:schema>