UpdateContractDetails/XSD&Swagger/XSD/UpdateContractDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/ContractManagement/UpdateContractDetails/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/ContractManagement/UpdateContractDetails/v1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:Q1="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>


	<xsd:element name="UpdateContractDetailsRq" type="bons0:UpdateContractDetailsRq_Type"/>
	<xsd:element name="UpdateContractDetailsRs" type="bons0:UpdateContractDetailsRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="UpdateContractDetailsRq_Type">
			<sequence>
				<xsd:element name="Header" 	type="Q1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" 	type="bons0:UpdateContractDetailsRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="UpdateContractDetailsRs_Type">
			<sequence>
				<xsd:element name="Header" 	type="Q1:ESBXMLResponseHeader_Type"/>
				<xsd:element name="Body" 	type="bons0:UpdateContractDetailsRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="UpdateContractDetailsRq_BodyType">
		<all>
			<element minOccurs="1" name="LaborOfficeId" 		    type="integer"/>
			<element minOccurs="1" name="SequenceNumber" 		    type="integer"/>
			<element minOccurs="0" name="EstablishmentEmail"	    type="string"/>
			<element minOccurs="0" name="LaborerEmail" 			    type="string"/>
			<element minOccurs="0" name="LaborerMobileNumber" 	    type="string"/>
			<element minOccurs="0" name="Nationality" 			    type="integer"/>
			<element minOccurs="0" name="Gender" 				    type="integer"/>
			<element minOccurs="0" name="Religion" 				    type="integer"/>
			<element minOccurs="0" name="MaritalStatus" 		    type="integer"/>
			<element minOccurs="0" name="EducationId" 			    type="integer"/>
			<element minOccurs="0" name="SpecialtyId" 			    type="integer"/>
			<element minOccurs="0" name="WorkLocationId" 		    type="integer"/>
			<element minOccurs="0" name="IBAN"					    type="string"/>
		    <element minOccurs="1" name="ContractId" 			    type="integer"/>
			<element minOccurs="1" name="RequesterDetails" 		    type="bons0:RequesterDetails_Type"/>
			<element minOccurs="1" name="UpdateRequesterDetails" 	type="bons0:UpdateRequesterDetails_Type"/>
			<element minOccurs="0" name="LanguageId" 			    type="integer"/>
			<element minOccurs="0" name="DateTypeId" 			    type="integer"/>
			<element minOccurs="0" name="ContractDetails" 		    type="bons0:ContractDetails_Type"/>
			<element minOccurs="0" name="UpdateReason" 			    type="integer"/>
			<element minOccurs="0" name="ReasonText" 			    type="string"/>
		</all>
	</complexType>
	
	<complexType name="RequesterDetails_Type">
		<all>
			<element minOccurs="1" name="RequesterIdNo" 	type="string"/>
			<element minOccurs="1" name="RequesterName" 	type="string"/>
			<element minOccurs="1" name="RequesterUserId" 	type="integer"/>
			<element minOccurs="0" name="RequesterRole" 	type="string"/>
		</all>
	</complexType>
	
	<complexType name="UpdateRequesterDetails_Type">
		<all>
			<element minOccurs="1" name="IdNumber" 	type="integer"/>
			<element minOccurs="1" name="Name" 		type="string"/>
		</all>
	</complexType>
	
	<complexType name="ContractDetails_Type">
		<all>
			<element minOccurs="0" name="OccupationId" 				type="integer"/>
			<element minOccurs="0" name="JobTitle" 					type="bons0:JobTitle_Type"/>
			<element minOccurs="0" name="LaborerJobNumber" 			type="string"/>
			<element minOccurs="0" name="ContractTypeId"	 		type="bons0:Integer_1_2_3_4_5"/>
			<element minOccurs="0" name="ContractDurationId"		type="bons0:Integer_1_2"/>
			<element minOccurs="0" name="ContractPeriod" 			type="integer"/>
			<element minOccurs="0" name="ProbationTerminationRight" 		type="bons0:Integer_1_2_3_4" />
			<element minOccurs="0" name="ExtendProbationPeriod">
				<simpleType>
					<restriction base="integer">
						<enumeration value="0" />
						<enumeration value="1" />
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="ProbationPeriod" 			type="integer"/>
			<element minOccurs="0" name="WorkingHoursTypeId" 		type="bons0:Integer_1_2"/>
			<element minOccurs="0" name="VacationPeriod" 			type="integer"/>
			<element minOccurs="0" name="Salary" 					type="decimal"/>
			<element minOccurs="0" name="SalaryTypeId" 				type="bons0:Integer_1_2"/>
			<element minOccurs="0" name="PercentageReasonEN" 		type="string"/>
			<element minOccurs="0" name="PercentageReasonAR" 		type="string"/>
			<element minOccurs="0" name="CurrentStartDate" 			type="bons0:HGDate_Type"/>
			<element minOccurs="0" name="CurrentExpiryDate" 		type="bons0:HGDate_Type"/>
			<element minOccurs="0" name="OriginalStartDate" 		type="bons0:HGDate_Type"/>
			<element minOccurs="0" name="OriginalEndDate" 			type="bons0:HGDate_Type"/>
			<element minOccurs="0" name="RenewalStatusId" 			type="bons0:Integer_1_2"/>
			<element minOccurs="0" name="NoticePeriod" 				type="integer"/>
			<element minOccurs="0" name="SalaryFrequency" 			type="bons0:Integer_1_2"/>
			<element minOccurs="0" name="Allowances" 				type="bons0:Allowances_Type"/>
			<element minOccurs="0" name="DeleteAllAllowances">
				<simpleType>
					<restriction base="integer">
						<enumeration value="0" />
						<enumeration value="1" />
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="HoursPerWeek" 				type="integer"/>
			<element minOccurs="0" name="DaysPerWeek" 				type="integer"/>
			<element minOccurs="0" name="HoursPerDay" 				type="integer"/>
			<element minOccurs="0" name="OptionalClauses" 			type="bons0:OptionalClauses_Type"/>			
			<element minOccurs="0" name="DeleteAllOptionalClauses">
				<simpleType>
					<restriction base="integer">
						<enumeration value="0" />
						<enumeration value="1" />

					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="AdditionalTerms" 			type="bons0:AdditionalTerms_Type"/>
			<element minOccurs="0" name="DeleteAllAdditionalTerms">
				<simpleType>
					<restriction base="integer">
						<enumeration value="0" />
						<enumeration value="1" />

					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="Terms"						type="bons0:Terms_Type" />	
		</all>
	</complexType>
	
	
	
	<complexType name="JobTitle_Type">
		<all>
			<element minOccurs="0" name="JobTitleAr"  type="string"/>
			<element minOccurs="0" name="JobTitleEng" type="string"/>
		</all>
	</complexType>
	
	<complexType name="HGDate_Type">
		<all>
			<element minOccurs="0" name="HijriDate" type="integer"/>
			<element minOccurs="0" name="GregDate" 	type="Q1:Tmstmp_Type"/>
		</all>
	</complexType>
	
	<complexType name="Allowances_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="AllowancesItem" type="bons0:AllowancesItem_Type"/>
			
		</sequence>
	</complexType>
	
	<complexType name="AllowancesItem_Type">
		<all>
			<element minOccurs="0" name="AllowanceType" 				type="bons0:Integer_1_2_3" />
			<element minOccurs="0" name="NameAr" 						type="string" />
			<element minOccurs="0" name="NameEn" 						type="string" />
			<element minOccurs="0" name="Frequency" 					type="bons0:Integer_1_2_3_4" />
			<element minOccurs="0" name="IsProvidedByEstablishment" 	type="bons0:Integer_0_1" />
			<element minOccurs="0" name="AmountType" 					type="bons0:Integer_1_2" />
			<element minOccurs="0" name="Amount" 						type="decimal" />
		</all>
	</complexType>
	
		<simpleType name="Integer_1_2_3_4">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
			<enumeration value="4"/>
		</restriction>
	</simpleType>
	<simpleType name="Integer_1_2">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="Integer_1_2_3">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
		</restriction>
	</simpleType>
		<simpleType name="Integer_0_1">
		<restriction base="integer">
			<enumeration value="0"/>
			<enumeration value="1"/>
		</restriction>
	</simpleType>
	
	<complexType name="OptionalClauses_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="OptionalClausesItem" type="bons0:OptionalClausesItem_Type"/>
			
		</sequence>
	</complexType>
	
	<complexType name="OptionalClausesItem_Type">
		<all>
			<element minOccurs="0" name="OptionalClausesType" 	type="bons0:Integer_1_2_3"/>
			<element minOccurs="0" name="Period" 				type="integer"/>
			<element minOccurs="0" name="Field" 				type="string"/>
			<element minOccurs="0" name="Location" 				type="string"/>
			<element minOccurs="0" name="FirstParty"			type="string"/>
			<element minOccurs="0" name="SecondParty" 			type="string"/>
		</all>
	</complexType>
	
	<complexType name="AdditionalTerms_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="AdditionalTermsItem" type="bons0:AdditionalTermsItem_Type"/>
			
		</sequence>
	</complexType>
	
	
	<complexType name="AdditionalTermsItem_Type">
		<all>
			<element minOccurs="0" name="NameEn" type="string"/>
			<element minOccurs="0" name="NameAr" type="string"/>
		</all>
	</complexType>
	
	<complexType name="Terms_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="TermsItem" type="bons0:TermsItem_Type"/>
			
		</sequence>
	</complexType>
	
	<complexType name="TermsItem_Type">
		<all>
			<element minOccurs="1" name="TermId" type="integer"/>
		</all>
	</complexType>
	
	
	
	<complexType name="UpdateContractDetailsRs_BodyType">
		<all>
		</all>
	</complexType>


	<xsd:simpleType name="Integer_1_2_3_4_5">
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="1"></xsd:enumeration>
			<xsd:enumeration value="2"></xsd:enumeration>
			<xsd:enumeration value="3"></xsd:enumeration>
			<xsd:enumeration value="4"></xsd:enumeration>
			<xsd:enumeration value="5"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>