UpdateContractDetails/XSD&Swagger/XSD/UpdateContractDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/ContractManagement/UpdateContractDetails/v1.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://Qiwa/ContractManagement/UpdateContractDetails/v1.0"
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:Q1="http://Qiwa/Common/Types">



	<xsd:import namespace="http://Qiwa/Common/Types"
		schemaLocation="../common/types/ESB_common_types_v1.0.xsd" />




	<xsd:element name="UpdateContractDetailsRq" type="bons0:UpdateContractDetailsRq_Type" />
	<xsd:element name="UpdateContractDetailsRs" type="bons0:UpdateContractDetailsRs_Type" />



	<complexType ibmSchExtn:docRoot="true"
		name="UpdateContractDetailsRq_Type">
		<sequence>
			<xsd:element name="Header" type="Q1:ESBXMLRequestHeader_Type" />
			<xsd:element name="Body"
				type="bons0:UpdateContractDetailsRq_BodyType" />
		</sequence>
	</complexType>

	<complexType ibmSchExtn:docRoot="true"
		name="UpdateContractDetailsRs_Type">
		<sequence>
			<xsd:element name="Header" type="Q1:ESBXMLResponseHeader_Type" />
			<xsd:element name="Body"
				type="bons0:UpdateContractDetailsRs_BodyType" />
		</sequence>
	</complexType>


	<complexType name="UpdateContractDetailsRq_BodyType">
		<all>
			<element minOccurs="1" name="LaborOfficeId" type="integer" />
			<element minOccurs="1" name="SequenceNumber" type="integer" />
			<element minOccurs="0" name="LaborerEmail" type="string" />
			<element minOccurs="0" name="LaborerMobileNumber" type="string" />
			<element minOccurs="0" name="Nationality" type="integer" />
			<element minOccurs="0" name="Gender" type="integer" />
			<element minOccurs="0" name="Religion" type="integer" />
			<element minOccurs="0" name="MaritalStatus" type="integer" />
			<element minOccurs="0" name="EducationId" type="integer" />
			<element minOccurs="0" name="EstablishmentEmail" type="string" />
			<element minOccurs="0" name="SpecialtyId" type="integer" />
			<element minOccurs="0" name="WorkLocationId" type="integer" />
			<element minOccurs="0" name="IBAN" type="string" />
			<element minOccurs="1" name="ContractId" type="integer" />
			<element minOccurs="1" name="RequesterDetails" type="bons0:RequesterDetails_Type" />
			<element minOccurs="0" name="LanguageId" type="integer" />
			<element minOccurs="0" name="DateTypeId" type="integer" />
			<element minOccurs="0" name="ContractDetails" type="bons0:ContractDetails_Type" />
			<element minOccurs="0" name="UpdateReason" type="integer" />
			<element minOccurs="0" name="ReasonText" type="string" />
		</all>
	</complexType>

	<complexType name="RequesterDetails_Type">
		<all>
			<element minOccurs="1" name="RequesterIdNo" type="string" />
			<element minOccurs="1" name="RequesterName" type="string" />
			<element minOccurs="1" name="RequesterUserId" type="integer" />
			<element minOccurs="0" name="RequesterRole" type="string" />
		</all>
	</complexType>

	<complexType name="ContractDetails_Type">
		<all>
			<element minOccurs="0" name="JobTitle" type="bons0:JobTitle_Type" />
			<element minOccurs="0" name="LaborerJobNumber" type="string" />
			<element minOccurs="0" name="ContractTypeId">
				<simpleType>
					<restriction base="integer">
						<enumeration value="1" />
						<enumeration value="2" />
						<enumeration value="3" />
						<enumeration value="4" />
						<enumeration value="5" />
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="ContractDurationId" type="bons0:Integer_1_2" />  		<!--change  -->
			<element minOccurs="0" name="ContractPeriod" type="integer" />
			<element minOccurs="0" name="ProbationPeriod" type="integer" />
			<element minOccurs="0" name="ProbationTerminationRight" type="bons0:Integer_1_2_3_4" />
			<element minOccurs="0" name="WorkingHoursTypeId" type="bons0:Integer_1_2" /> 		<!--change  -->
			<element minOccurs="0" name="VacationPeriod" type="integer" />
			<element minOccurs="0" name="Salary" type="decimal" />
			<element minOccurs="0" name="SalaryTypeId" type="bons0:Integer_1_2" />
			<element minOccurs="0" name="PercentageReasonEN" type="string" />
			<element minOccurs="0" name="PercentageReasonAR" type="string" />
			<element minOccurs="0" name="StartDate" type="bons0:HGDate_Type" />
			<element minOccurs="0" name="ExpiryDate" type="bons0:HGDate_Type" />
			<element minOccurs="0" name="Allowances" type="bons0:AllowancesList_Type" />
			<element minOccurs="0" name="RenewalStatusId" type="bons0:Integer_1_2" /> 		<!--change  -->
			<element minOccurs="0" name="NoticePeriod" type="integer" />
			<element minOccurs="0" name="AddedClauses" type="bons0:AddedClausesList_Type" />
			<element minOccurs="0" name="SalaryFrequency" type="bons0:Integer_1_2" /> 		<!--change  -->
			<element minOccurs="0" name="DeleteAllAllowances">
				<simpleType>
					<restriction base="integer">
						<enumeration value="0" />
						<enumeration value="1" />
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="AdditionalAllowancesList" type="bons0:AdditionalAllowancesList_Type" />
			<element minOccurs="0" name="DeleteAllAdditionalAllowances">
				<simpleType>
					<restriction base="integer">
						<enumeration value="0" />
						<enumeration value="1" />

					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="HoursPerWeek" type="integer" />
			<element minOccurs="0" name="DaysPerWeek" type="integer" />
			<element minOccurs="0" name="HoursPerDay" type="integer" />
			<element minOccurs="0" name="DeleteAllAddedClauses">
				<simpleType>
					<restriction base="integer">
						<enumeration value="0" />
						<enumeration value="1" />
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="0" name="OptionalArticles" type="bons0:OptionalArticles_Type" />
		</all>
	</complexType>


	<complexType name="JobTitle_Type">
		<all>
			<element minOccurs="1" name="JobTitleAr" type="string" />
			<element minOccurs="1" name="JobTitleEng" type="string" />
		</all>
	</complexType>

	<complexType name="HGDate_Type">
		<all>
			<element minOccurs="0" name="HijriDate" type="integer" />
			<element minOccurs="0" name="GregDate" type="Q1:Tmstmp_Type" />
		</all>
	</complexType>

	<complexType name="AllowancesList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="AllowancesItem"
				type="bons0:KeyValue_Type" />

		</sequence>
	</complexType>

	<complexType name="AddedClausesList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="AddedClausesItem"
				type="bons0:KeyValue_Type" />

		</sequence>
	</complexType>

	<complexType name="KeyValue_Type">
		<all>
			<element minOccurs="1" name="Key" type="string" />
			<element minOccurs="1" name="Value" type="string" />
		</all>
	</complexType>

	<complexType name="AdditionalAllowancesList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="Item"
				type="bons0:Item_Type" />

		</sequence>
	</complexType>

	<complexType name="Item_Type">
		<all>
			<element minOccurs="1" name="BenefitNameAr" type="string" />
			<element minOccurs="1" name="BenefitNameEn" type="string" />
			<element minOccurs="1" name="Frequency"  type="integer"/>
			<element minOccurs="1" name="AmountType" type="integer" /> 
			<element minOccurs="1" name="Amount" type="string" />
		</all>
	</complexType>

	<complexType name="OptionalArticles_Type">
		<all>
			<element minOccurs="0" name="Period" type="integer" />
			<element minOccurs="0" name="Location" type="string" />
			<element minOccurs="0" name="WorkField" type="string" />
		</all>
	</complexType>

	<complexType name="UpdateContractDetailsRs_BodyType">
		<all>
		</all>
	</complexType>

	<simpleType name="Integer_1_2">
		<restriction base="integer">
			<enumeration value="1" />
			<enumeration value="2" />
		</restriction>
	</simpleType>
	
	<simpleType name="Integer_1_2_3_4">
		<restriction base="integer">
			<enumeration value="1" />
			<enumeration value="2" />
			<enumeration value="3" />
			<enumeration value="4" />
		</restriction>
	</simpleType>


</xsd:schema>