GetContractDetails/XSD&Swagger/XSD/GetContractDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/ContractManagement/GetContractDetails/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/ContractManagement/GetContractDetails/v1.0" 
xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:Q1="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>


	<xsd:element name="GetContractDetailsRq" type="bons0:GetContractDetailsRq_Type"/>
	<xsd:element name="GetContractDetailsRs" type="bons0:GetContractDetailsRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="GetContractDetailsRq_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:GetContractDetailsRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="GetContractDetailsRs_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLResponseHeader_Type"/>
				<xsd:element minOccurs="1" name="Body" type="bons0:GetContractDetailsRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="GetContractDetailsRq_BodyType">
		<all>
			<element minOccurs="1" name="ContractId" type="integer"/>
			
		
		</all>
	</complexType>
	
	<complexType name="GetContractDetailsRs_BodyType">
		<all>
			<!-- LaboorerDetails -->
			<element minOccurs="1" name="LaborerDetails" type="bons0:LaborerDetails_Type"/>
			<!-- TemplateDetails -->
			<element minOccurs="0" name="TemplatesDetails" type="bons0:TemplatesDetails_Type"/>
			<!-- EstablishmentDeatils -->
			<element minOccurs="1" name="EstablishmentDetails" type="bons0:EstablishmentDetails_type"/>
			<!-- RequestDetails -->
			<element minOccurs="1" name="RequesterDetails" type="bons0:RequesterDetails_Type"/>
			<!-- ContractDetails -->
			<element minOccurs="1" name="ContractDetails" type="bons0:ContractDetails_Type"/>
		</all>
	</complexType>
	
	<complexType name="LaborerDetails_Type">
		<sequence>
			<element minOccurs="1" name="LaborerIdNo" type="integer"/>
			<element minOccurs="1" name="LaborerType" type="integer"/>
			<element minOccurs="1" name="LaborerName" type="string"/>
			<element minOccurs="1" name="LaborerIdExpiryDate" type="Q1:Dt_Type"/>
			<element minOccurs="1" name="LaborerEmail" type="string"/>
			<element minOccurs="1" name="LaborerMobileNumber" type="string"/>
			<element minOccurs="1" name="Specialty" type="bons0:CodeName_Type"/>
			<element minOccurs="1" name="WorkLocation" type="bons0:CodeName_Type"/>
			<element minOccurs="1" name="IBAN" type="string"/>
			<element minOccurs="1" name="Education" type="bons0:CodeName_Type"/>
			<element minOccurs="1" name="LaborerDOB" type="bons0:HGDate_Type"/>
			<element minOccurs="1" name="DOBType" type="integer"/>
			<element minOccurs="1" name="Nationality" type="bons0:CodeName_Type"/>
			<element minOccurs="1" name="Gender" type="bons0:CodeName_Type"/>
			<element minOccurs="1" name="Religion" type="bons0:CodeName_Type"/>
			<element minOccurs="1" name="MaritalStatus" type="bons0:CodeName_Type"/>
			
		</sequence>
	</complexType>
	
	<complexType name="TemplatesDetails_Type">
		<sequence>
			<element minOccurs="0" name="TemplateId" type="integer"/>
			<element minOccurs="0" name="TemplateName" type="string"/>
			<element minOccurs="0" name="TemplateDescription" type="string"/>
		</sequence>
	</complexType>
	
	<complexType name="EstablishmentDetails_type">
		<sequence>
			<element minOccurs="1" name="LaborOfficeId" type="integer"/>
			<element minOccurs="1" name="SequenceNumber" type="integer"/>
			<element minOccurs="1" name="EstablishmentId" type="integer"/>
			<element minOccurs="1" name="EntityId" type="string"/> 
			<element minOccurs="1" name="UnifiedNumberId" type="integer"/>
			<element minOccurs="1" name="EstablishmentNameAr" type="string"/>
			<element minOccurs="1" name="EstablishmentNameEn" type="string"/>
			<element minOccurs="1" name="EstablishmentEmail" type="string"/>
		</sequence>
	</complexType>
	
	<complexType name="RequesterDetails_Type">
		<sequence>
			<element minOccurs="1" name="RequesterUserId" type="integer"/>
			<element minOccurs="1" name="RequesterName" type="string"/>
			<element minOccurs="1" name="RequesterIdNo" type="string"/>
			<element minOccurs="0" name="RequesterRole" type="string"/>
		</sequence>
	</complexType>
	
	<complexType name="ContractDetails_Type">
		<sequence>
			<element minOccurs="1" name="ContractId" type="integer" />
			<element minOccurs="1" name="LaborerJobNumber"
				type="string" />
			<element minOccurs="1" name="JobTitle"
				type="bons0:JobTitle_Type" />
			<element minOccurs="1" name="ContractType"
				type="bons0:CodeName_Type" />
			<element minOccurs="1" name="ContractDuration"
				type="bons0:CodeName_Type" />
			<element minOccurs="0" name="ContractPeriod" type="integer" />
			<element minOccurs="1" name="ProbationPeriod"
				type="integer" />
			<element minOccurs="1" name="WorkingHoursType"
				type="bons0:CodeName_Type" />
			<element minOccurs="1" name="VacationPeriod "
				type="integer" />
			<element minOccurs="1" name="Salary" type="string" />
			<element minOccurs="0" name="Allowances"
				type="bons0:AllowancesList_Type" />
			<element minOccurs="1" name="StartDate"
				type="bons0:HGDate_Type" />
			<element minOccurs="1" name="ExpiryDate"
				type="bons0:HGDate_Type" />
			<element minOccurs="0" name="JoiningDate" type="Q1:Dt_Type" />
			<element minOccurs="1" name="RenewalStatus"
				type="bons0:CodeName_Type" />
			<element minOccurs="1" name="NoticePeriod" type="integer" />
			<element minOccurs="1" name="LastModifiedDate"
				type="bons0:HGDate_Type" />
			<element minOccurs="1" name="CreationDate"
				type="bons0:HGDate_Type" />
			<element minOccurs="1" name="LaborerAppRejDate"
				type="bons0:HGDate_Type" />
			<element minOccurs="1" name="EmployerAppRejDate"
				type="bons0:HGDate_Type" />
			<element minOccurs="1" name="RejectionDescription"
				type="string" />
			<element minOccurs="1" name="RejectionReason"
				type="bons0:CodeName_Type" />
			<element minOccurs="1" name="UpdateReason"
				type="bons0:CodeName_Type" />
			<element minOccurs="1" name="ModificationReason"
				type="bons0:CodeName_Type" />
			<element minOccurs="1" name="Status"
				type="bons0:CodeName_Type" />
			<element minOccurs="1" name="Version" type="decimal" />
			<element minOccurs="1" name="AddedClauses"
				type="bons0:AddedClausesList_Type" />
			<element minOccurs="1" name="Language"
				type="bons0:CodeName_Type" />
			<element minOccurs="1" name="DateType"
				type="bons0:CodeName_Type" />
			<element minOccurs="1" name="RelatedTo"
				type="bons0:CodeName_Type" />
			<element minOccurs="0" name="SalaryFrequency"
				type="bons0:CodeName_Type" />

			<!--  
				<element minOccurs="0" name="SalaryFrequency">
				<simpleType>
				<restriction base="integer">
				<enumeration value="1"/>
				<enumeration value="2"/>
				</restriction>
				</simpleType>
				</element>
			-->
			<element minOccurs="0" name="AdditionalAllowancesList"
				type="bons0:AdditionalAllowancesList_Type" />
			<element minOccurs="0" name="HoursPerWeek" type="integer" />
			<element minOccurs="0" name="DaysPerWeek" type="integer" />
			<element minOccurs="0" name="HoursPerDay" type="integer" />
			<element minOccurs="0" name="OptionalArticles"
				type="bons0:OptionalArticles_Type" />
			<element minOccurs="0" name="OccupationDetails"
				type="bons0:OccupationDetails_Type" />
			<xsd:element name="OriginalStartDate"
				type="bons0:HGDate_Type" minOccurs="1">
			</xsd:element>
			<xsd:element name="OriginalExpiryDate"
				type="bons0:HGDate_Type" minOccurs="1">
			</xsd:element>

			<element minOccurs="1" name="SalaryType"
				type="bons0:CodeName_Type" />

			<element minOccurs="0" name="PercentageReasonEN"
				type="string" />
			<element minOccurs="0" name="PercentageReasonAR"
				type="string" />
			<element minOccurs="0" name="IsGosiMigrated" type="string" />

			<xsd:element name='IsRegisteredWithGOSI' type="xsd:integer"
				minOccurs="1">
			</xsd:element>
			<xsd:element name="IsGosiAdded" type="xsd:integer"
				minOccurs="1">
			</xsd:element>
			<xsd:element name="IsGosiUpdated" type="xsd:integer"
				minOccurs="1">
			</xsd:element>
			<xsd:element name="IsGosiTerminated" type="xsd:integer"
				minOccurs="1">
			</xsd:element>

			<element minOccurs="0" name="Category"
				type="bons0:CodeName_Type" />

			<xsd:element name="UploadedFiles"
				type="bons0:UploadedFiles_Type" minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="IsUploadFilesSkiped" type="xsd:integer"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="ProbationTerminationRight" type="bons0:CodeName_Type" minOccurs="1"></xsd:element>
		</sequence>
	</complexType>
	
	<complexType name="AddedClausesList_Type"> 
		<sequence>
			<element minOccurs="0" maxOccurs="unbounded" name="AddedClausesItem" type="bons0:AddedClausesItem_Type"/> 
		</sequence>
	</complexType>
	<complexType name="AddedClausesItem_Type">
		<sequence>
			<element minOccurs="0" name="Key" type="string"/>
			<element minOccurs="0" name="Value" type="string"/>
		</sequence>
	</complexType>
	<complexType name="OccupationDetails_Type">
		<sequence>
			<element minOccurs="0" name="OccupationId" type="integer"/> 
			<element minOccurs="0" name="OccupationAr" type="string"/>
			<element minOccurs="0" name="OccupationEn" type="string"/>
		</sequence>
	</complexType>
	<complexType name="OptionalArticles_Type">
		<sequence>
			<element minOccurs="0" name="Period" type="integer"/> 
			<element minOccurs="0" name="Location" type="string"/>
			<element minOccurs="0" name="WorkField" type="string"/>
		</sequence>
	</complexType>
	<complexType name="AdditionalAllowancesList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="Item" type="bons0:Item_Type"/> 
		</sequence>
	</complexType>
	<complexType name="Item_Type">
		<sequence>
			<element minOccurs="0" name="BenefitNameAr" type="string"/>
			<element minOccurs="0" name="BenefitNameEn" type="string"/>
			<element minOccurs="0" name="Frequency" type="bons0:CodeName_Type"/> 
			<element minOccurs="0" name="AmountType" type="bons0:CodeName_Type"/>
			<!--  
			<element minOccurs="0" name="FrequencyId" type="integer"/>
			<element minOccurs="0" name="FrequencyAr" type="string"/>
			<element minOccurs="0" name="FrequencyEn" type="string"/>
			<element minOccurs="0" name="AmountTypeId" type="integer"/>
			<element minOccurs="0" name="AmountTypeAr" type="string"/>
			<element minOccurs="0" name="AmountTypeEn" type="string"/>
			-->
			<element minOccurs="0" name="Amount" type="decimal"/>  
		</sequence>
	</complexType>
	<complexType name="AllowancesList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="AllowancesItem" type="bons0:AllowancesItem_Type"/> 
		</sequence>
	</complexType>
	
	<complexType name="AllowancesItem_Type">
		<sequence>
			<element minOccurs="0" name="Key" type="string"/>
			<element minOccurs="0" name="Value" type="string"/>
		</sequence>
	</complexType>
	
	<complexType name="CodeName_Type">
		<sequence>
			<element minOccurs="1" name="Code" type="integer"/>
			<element minOccurs="1" name="NameAr" type="string"/>
			<element minOccurs="1" name="NameEn" type="string"/>
		</sequence>
	</complexType>
	
	
	<complexType name="JobTitle_Type">
		<sequence>
			<element minOccurs="1" name="JobTitleAr" type="string"/>
			<element minOccurs="1" name="JobTitleEng" type="string"/>
		</sequence>
	</complexType>
	


	
	<complexType name="HGDate_Type">
		<sequence>
			<element minOccurs="0" name="Hijri" type="integer"/>
			<element minOccurs="0" name="Greogrian" type="Q1:Dt_Type"/>
		</sequence>
	</complexType>



	<xsd:complexType name="UploadedFiles_Type">
		<xsd:sequence>
			<xsd:element name="UploadedFilesItem" type="bons0:UploadedFilesItem_Type" minOccurs="1" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="UploadedFilesItem_Type">
		<xsd:sequence>
			<xsd:element name="FileId" type="string" minOccurs="1"></xsd:element> 
			<xsd:element name="FileTypeId" type="integer" minOccurs="1"></xsd:element> 
			<xsd:element name="FileTypeEn" type="string" minOccurs="1"></xsd:element> 
			<xsd:element name="FileTypeAr" type="string" minOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>