UpdateContractTemplateDetails/XSD&Swagger/XSD/UpdateContractTemplateDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/ContractManagement/UpdateContractTemplateDetails/v1.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://Qiwa/ContractManagement/UpdateContractTemplateDetails/v1.0"
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	xmlns:Q1="http://Qiwa/Common/Types">
	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>
	<xsd:element name="UpdateContractTemplateDetailsRq" type="bons0:UpdateContractTemplateDetailsRq_Type"/>
	<xsd:element name="UpdateContractTemplateDetailsRs" type="bons0:UpdateContractTemplateDetailsRs_Type"/>
	<complexType ibmSchExtn:docRoot="true" name="UpdateContractTemplateDetailsRq_Type">
		<sequence>
			<xsd:element name="Header" type="Q1:ESBXMLRequestHeader_Type"/>
			<xsd:element name="Body" type="bons0:UpdateContractTemplateDetailsRq_BodyType"/>
		</sequence>
	</complexType>
	<complexType ibmSchExtn:docRoot="true" name="UpdateContractTemplateDetailsRs_Type">
		<sequence>
			<xsd:element name="Header" type="Q1:ESBXMLResponseHeader_Type"/>
			<xsd:element name="Body" type="bons0:UpdateContractTemplateDetailsRs_BodyType"/>
		</sequence>
	</complexType>
	<complexType name="UpdateContractTemplateDetailsRq_BodyType">
		<all>
			<xsd:element name="TemplateId" 			type="xsd:integer" minOccurs="1" />
			<xsd:element name="ClausesList" 		type="bons0:ClausesList_Type" minOccurs="0" maxOccurs="1" />
			<xsd:element name="EstablishmentDetails" type="bons0:EstablishmentDetails_Type" minOccurs="1" />
			<xsd:element name="LaborerDetails" 		type="bons0:LaborerDetails_Type"   minOccurs="0" maxOccurs="1" />
			<xsd:element name="RequesterDetails" 	type="bons0:RequesterDetails_type" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ContractDetails" 	type="bons0:ContractDetails_Type"  minOccurs="0" maxOccurs="1" />
			<xsd:element name="LanguageId" 			type="integer" minOccurs="0" maxOccurs="1" />
			<xsd:element name="TemplateName" 		type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="TemplateDescription" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="DateTypeId" 			type="bons0:Interger2_Type" minOccurs="0" maxOccurs="1" />
		</all>
	</complexType>
	<complexType name="EstablishmentDetails_Type">
		<all>
			<xsd:element name="LaborOfficeId"  type="integer" minOccurs="1" />
			<xsd:element name="SequenceNumber" type="integer" minOccurs="1" />
			<xsd:element name="EstablishmentId" type="integer" minOccurs="0" maxOccurs="1" />
			<xsd:element name="UnifiedNumberId" type="integer" minOccurs="0" maxOccurs="1" />
			<xsd:element name="EntityId" 		type="string"  minOccurs="0" maxOccurs="1" />
			<xsd:element name="EstablishmentNameAr" type="string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="EstablishmentNameEn" type="string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="EstablishmentEmail" 	type="string" minOccurs="0" maxOccurs="1" />
		</all>
	</complexType>
	<complexType name="LaborerDetails_Type">
		<all>
			<xsd:element name="LaborerIdNo" type="xsd:integer" 	 minOccurs="0" maxOccurs="1" />
			<xsd:element name="LaborerName" type="string" 		 minOccurs="0" maxOccurs="1" />
			<xsd:element name="LaborerTypeId" type="integer" 	 minOccurs="0" maxOccurs="1" />
			<xsd:element name="LaborerIdExpiryDate" type="Q1:Dt_Type" minOccurs="0" maxOccurs="1" />
			<xsd:element name="LaborerEmail" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="LaborerMobileNumber" type="xsd:integer" minOccurs="0" maxOccurs="1" />
		</all>
	</complexType>
	<complexType name="RequesterDetails_type">
		<all>
			<element name="RequesterIdNo" type="integer" minOccurs="0" maxOccurs="1"/>
			<element name="RequesterName" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="RequesterUserId" type="integer" minOccurs="0" maxOccurs="1"/>
		</all>
	</complexType>
	<complexType name="ContractDetails_Type">
		<all>
			<xsd:element name="JobTitle" type="bons0:JobTitle_Type" minOccurs="0" maxOccurs="1" />
			<xsd:element name="LaborerJobNumber" type="integer" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ContractTypeId" type="bons0:Interger1_2_3_4_Type" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ContractDurationId" type="bons0:Interger2_Type" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ContractPeriod" type="integer" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ProbationPeriod" type="integer" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ProbationTerminationRight" type="bons0:Interger1_2_3_4_Type" minOccurs="0" maxOccurs="1" />
			<xsd:element name="WorkingHoursTypeId" type="bons0:Interger2_Type" minOccurs="0" maxOccurs="1" />
			<xsd:element name="VacationPeriod" type="integer" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Salary" type="decimal" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SalaryTypeId" type="bons0:Interger2_Type" minOccurs="0" />
			<xsd:element name="PercentageReasonEN" type="string" minOccurs="0" />
			<xsd:element name="PercentageReasonAR" type="string" minOccurs="0" />
			<xsd:element name="StartDate" type="bons0:HGDate_Type" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ExpiryDate" type="bons0:HGDate_Type" minOccurs="0" />
			<xsd:element name="RenewalStatusId" type="bons0:Interger2_Type" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NoticePeriod" type="integer" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SalaryFrequency" type="bons0:Interger2_Type" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AdditionalAllowancesList" type="bons0:AdditionalAllowancesList_Type" minOccurs="0" maxOccurs="1" />
			<xsd:element name="HoursPerWeek" type="xsd:integer" minOccurs="0" maxOccurs="1" />
			<xsd:element name="DaysPerWeek" type="xsd:integer" minOccurs="0" maxOccurs="1" />
			<xsd:element name="HoursPerDay" type="xsd:integer" minOccurs="0" maxOccurs="1" />
			<xsd:element name="OptionalArticles" type="bons0:OptionalArticles_Type" minOccurs="0" maxOccurs="1" />
		</all>
	</complexType>
	<simpleType name="Interger2_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="Interger1_2_3_4_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
			<enumeration value="4"/>
		</restriction>
	</simpleType>
	<complexType name="JobTitle_Type">
		<all>
			<element minOccurs="0" name="JobTitleAr" type="string" maxOccurs="1"/>
			<element minOccurs="0" name="JobTitleEng" type="string" maxOccurs="1"/>
		</all>
	</complexType>
	<complexType name="HGDate_Type">
		<all>
			<element minOccurs="0" name="HijriDate" type="integer" maxOccurs="1"/>
			<element minOccurs="0" name="GregDate" type="Q1:Tmstmp_Type" maxOccurs="1"/>
		</all>
	</complexType>
	<complexType name="KeyValue_Type">
		<all>
			<element minOccurs="0" name="Key" type="string" maxOccurs="1"/>
			<element minOccurs="0" name="Value" type="string" maxOccurs="1"/>
		</all>
	</complexType>
	<complexType name="UpdateContractTemplateDetailsRs_BodyType"></complexType>
	<xsd:complexType name="ClausesList_Type">
		<xsd:sequence>
			<xsd:element name="AddedClauses" type="bons0:KeyValue_Type" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			<xsd:element name="Allowances" type="bons0:KeyValue_Type" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdditionalAllowancesList_Type">
		<xsd:sequence>
			<xsd:element name="Item" type="bons0:Item_Type" minOccurs="1" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Item_Type">
		<xsd:all>
			<xsd:element name="BenefitNameAr" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
			<xsd:element name="BenefitNameEn" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
			<xsd:element name="Frequency" type="bons0:Interger1_2_3_4_Type" minOccurs="0" maxOccurs="1"></xsd:element>
			<xsd:element name="AmountType" type="bons0:Interger2_Type" minOccurs="0" maxOccurs="1"></xsd:element>
			<xsd:element name="Amount" type="xsd:decimal" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="OptionalArticles_Type">
		<xsd:all>
			<xsd:element name="Period" type="xsd:integer" minOccurs="0" maxOccurs="1"></xsd:element>
			<xsd:element name="Location" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
			<xsd:element name="WorkField" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="AddedClauses_Type">
		<xsd:sequence>
			<xsd:element name="Item" type="bons0:KeyValue_Type" minOccurs="1" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Allowances_Type">
		<xsd:sequence>
			<xsd:element name="Item" type="bons0:KeyValue_Type" minOccurs="1" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>