TerminateContractLib/CheckLaborerContracts/CheckLaborerContracts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://Qiwa/TerminateContract/CheckLaborerContracts/v1.0"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" 
 xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:Q1="http://Qiwa/Common/Types" 
 xmlns:bons0="http://Qiwa/TerminateContract/CheckLaborerContracts/v1.0">

	<import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>


	<element name="CheckLaborerContractsRq" type="bons0:CheckLaborerContractsRq_Type"/>
	<element name="CheckLaborerContractsRs" type="bons0:CheckLaborerContractsRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="CheckLaborerContractsRq_Type">
			<sequence>
				<element name="Header" type="Q1:ESBXMLRequestHeader_Type"/>
				<element name="Body" type="bons0:CheckLaborerContractsRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="CheckLaborerContractsRs_Type">
			<sequence>
				<element name="Header" type="Q1:ESBXMLResponseHeader_Type"/>
				<element minOccurs="1" name="Body" type="bons0:CheckLaborerContractsRs_BodyType"/> 
			</sequence>
	</complexType>
	
	
	<complexType name="CheckLaborerContractsRq_BodyType">
		<all>
			<element name="LaborOfficeId"        type="integer" minOccurs="1"></element>
			<element name="SequenceNumber"       type="integer" minOccurs="1"></element>
			<element name="LaborerIdNo"          type="integer" minOccurs="1"></element>
			
		</all>
	</complexType>
	
	
	<complexType name="CheckLaborerContractsRs_BodyType">
        <sequence>
        	<element name="HasActiveContract" minOccurs="1" type="integer"/>
			<element name="ContractSourceId"  minOccurs="1" type="integer"/>
            <element name="ContractId"        minOccurs="0" type="integer"  />
			<element name="HasContractOnSystem" minOccurs="1" type="integer"  />				<element name="TotalRecordsCount" minOccurs="1" type="integer"  />
			<element name="NoticePeriod"        minOccurs="1" type="integer"  />
			<element name="ProbationPeriod" minOccurs="0" type="integer"  />
			<element name="ContractExpriryDate"        minOccurs="1" type="Q1:Dt_Type"  />
			<element name="ContractStartDate" minOccurs="1" type="Q1:Dt_Type"  />
		</sequence>
	</complexType>


	<simpleType name="HasActiveContract">
        <restriction base="integer">
            <enumeration value="1"/>
            <enumeration value="0"/>
        </restriction>
    </simpleType>
	<simpleType name="ContractSourceId">
        <restriction base="integer">
            <enumeration value="1"/>
            <enumeration value="2"/>
			<enumeration value="3"/>
        </restriction>
    </simpleType>
	<simpleType name="HasContractOnSystem">
        <restriction base="integer">
            <enumeration value="1"/>
            <enumeration value="0"/>
        </restriction>
    </simpleType>
	
</schema>