TerminateContractLib/ApproveRejectUpdateRDByEmployer/ApproveRejectUpdateRDByEmployer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://Qiwa/TerminateContract/ApproveRejectUpdateRDByEmployer/v1.0"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" 
 xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:Q1="http://Qiwa/Common/Types" 
 xmlns:bons0="http://Qiwa/TerminateContract/ApproveRejectUpdateRDByEmployer/v1.0">

	<import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>


	<element name="ApproveRejectUpdateRDByEmployerRq" type="bons0:ApproveRejectUpdateRDByEmployerRq_Type"/>
	<element name="ApproveRejectUpdateRDByEmployerRs" type="bons0:ApproveRejectUpdateRDByEmployerRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="ApproveRejectUpdateRDByEmployerRq_Type">
			<sequence>
				<element name="Header" type="Q1:ESBXMLRequestHeader_Type"/>
				<element name="Body" type="bons0:ApproveRejectUpdateRDByEmployerRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="ApproveRejectUpdateRDByEmployerRs_Type">
			<sequence>
				<element name="Header" type="Q1:ESBXMLResponseHeader_Type"/>
				<element minOccurs="1" name="Body" type="bons0:ApproveRejectUpdateRDByEmployerRs_BodyType"/> 
			</sequence>
	</complexType>
	
	
	<complexType name="ApproveRejectUpdateRDByEmployerRq_BodyType">
		<all>
			<element name="RDUpdateRequestId"    type="integer" minOccurs="1"></element>
			<element name="IsApproved"           type="bons0:IsApproved_Type" minOccurs="1"></element>
			<element name="RejectionReason"      type="string" minOccurs="0"></element>

			
		</all>
	</complexType>
	
	
	<simpleType name="IsApproved_Type">
        <restriction base="integer">
            <enumeration value="0"/>
            <enumeration value="1"/>
        </restriction>
        </simpleType>
		
	<complexType name="ApproveRejectUpdateRDByEmployerRs_BodyType">
        <sequence></sequence>
		
	</complexType>
	
</schema>