GetGosiContractsList/XSD&Swagger/XSD/GetGosiContractsList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://Qiwa/ContractManagement/GetGosiContractsList/v1.0"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://Qiwa/ContractManagement/GetGosiContractsList/v1.0"
	xmlns:bons1="http://Qiwa/Common/Types"
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>

	<xsd:element name="GetGosiContractsListRq" type="bons0:GetGosiContractsListRq_Type"/>
	<xsd:element name="GetGosiContractsListRs" type="bons0:GetGosiContractsListRs_Type"/>

	<complexType name="GetGosiContractsListRq_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>
			<xsd:element name="Body" type="bons0:GetGosiContractsListRq_BodyType"/>
		</sequence>
	</complexType>

	<complexType name="GetGosiContractsListRs_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
			<xsd:element minOccurs="0" maxOccurs="1" name="Body" type="bons0:GetGosiContractsListRs_BodyType"/>
		</sequence>
	</complexType>

	<complexType name="GetGosiContractsListRq_BodyType">
		<all>
			<element minOccurs="1" maxOccurs="1" name="EstablishmentDetails" type="bons0:EstablishmentDetails_Type"/>
			<element minOccurs="0" maxOccurs="1" name="LaborerDetails" type="bons0:LaborerDetails_Type"/>
			<element minOccurs="0" maxOccurs="1" name="RequesterIdNo" type="integer"/>
			<element minOccurs="0" maxOccurs="1" name="GOSIRequestTypeId" type="bons0:GOSIRequestTypeId_Type"/>
			<element minOccurs="1" maxOccurs="1" name="PageSize" type="integer"/>
			<element minOccurs="1" maxOccurs="1" name="PageIndex" type="integer"/>
		</all>
	</complexType>

	<simpleType name="GOSIRequestTypeId_Type">
		<restriction base="integer">
			<enumeration value="0"/>
			<enumeration value="1"/>
		</restriction>
	</simpleType>
	
	<complexType name="EstablishmentDetails_Type">
		<all>
			<element minOccurs="0" maxOccurs="1" name="LaborOfficeId" type="integer"/>
			<element minOccurs="0" maxOccurs="1" name="SequenceNumber" type="integer"/>
			<element minOccurs="0" maxOccurs="1" name="EstablishmentId" type="integer"/>
			<element minOccurs="0" maxOccurs="1" name="UnifiedNumberId" type="integer"/>
		</all>
	</complexType>

	<complexType name="LaborerDetails_Type">
		<all>
			<element minOccurs="0" maxOccurs="1" name="LaborerIdNo" type="integer"/>
			<element minOccurs="0" maxOccurs="1" name="LaborerTypeId" type="integer"/>
		</all>
	</complexType>

	<complexType name="GetGosiContractsListRs_BodyType">
		<all>
			<element minOccurs="0" maxOccurs="1" name="ContractsList" type="bons0:ContractsList_Type"/>
			<element minOccurs="1" maxOccurs="1" name="TotalRecordsCount" type="integer"/>
		</all>
	</complexType>

	<complexType name="ContractsList_Type">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="1" name="ContractsItem" type="bons0:ContractsItem_Type"/>
		</sequence>
	</complexType>

	<complexType name="ContractsItem_Type">
		<all>
			<element minOccurs="1" maxOccurs="1" name="ContractId" type="integer"/>
			<element minOccurs="1" maxOccurs="1" name="LaborerIdNo" type="integer"/>
			<element minOccurs="1" maxOccurs="1" name="LaborerName" type="string"/>
			<element minOccurs="1" maxOccurs="1" name="RequesterIdNo" type="integer"/>
			<element minOccurs="1" maxOccurs="1" name="RequesterName" type="string"/>
			<element minOccurs="1" maxOccurs="1" name="GOSIStatus" type="bons0:GOSIStatus_Type"/>
			<element minOccurs="1" maxOccurs="1" name="LastModifiedDate" type="bons1:Dt_Type"/>
		</all>
	</complexType>

	<complexType name="GOSIStatus_Type">
		<all>
			<element minOccurs="1" maxOccurs="1" name="Status" type="string"/>
			<element minOccurs="1" maxOccurs="1" name="Description" type="string"/>
		</all>
	</complexType>
</xsd:schema>