TerminateContractLib/MessagesTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://Qiwa/Common/Types"
	xmlns:bons1="http://Qiwa/TerminateContract/ValidateEmployeeEligibilityFinalExit/v1.0"
	xmlns:bons2="http://Qiwa/TerminateContract/CheckLaborerAndUnifiedNumber/v1.0"
	xmlns:bons3="http://Qiwa/TerminateContract/ValidateEmployeeEligibilityReentry/v1.0"
	xmlns:bons4="http://Qiwa/TerminateContract/ValidateEmployerEligibilityFinalExit/v1.0"
	xmlns:bons5="http://Qiwa/TerminateContract/ApproveRejectTCCancelationByEmployer/v1.0"
	xmlns:bons6="http://Qiwa/TerminateContract/ApproveRejectTCCancelationByLaborer/v1.0"
	xmlns:bons7="http://Qiwa/TerminateContract/SearchTerminateContractRequests/v1.0"
	xmlns:bons8="http://Qiwa/TerminateContract/SubmitTCCancelationByEmployer/v1.0"
	xmlns:bons9="http://Qiwa/TerminateContract/SubmitTCCancelationByLaborer/v1.0"
	xmlns:bons10="http://Qiwa/TerminateContract/ApproveRejectUpdateRDByEmployer/v1.0"
	xmlns:bons11="http://Qiwa/TerminateContract/CheckLaborerContracts/v1.0"
	xmlns:bons12="http://Qiwa/TerminateContract/CheckTCLaborerEligibility/v1.0"
	xmlns:bons13="http://Qiwa/TerminateContract/SubmitTCReqByLaborer/v1.0"
	xmlns:bons14="http://Qiwa/TerminateContract/ValidateLaborerInTC/v1.0"
	xmlns:bons15="http://Qiwa/TerminateContract/SubmitUpdateReleaseDateReqByLaborer/v1.0"
	xmlns:bons16="http://Qiwa/TerminateContract/SubmitTCReqByEmployer/v1.0"
	xmlns:bons17="http://Qiwa/TerminateContract/GetEstablishmentEmployeesListTC/v1.0"
	xmlns:bons18="http://Qiwa/TerminateContract/GetTCLaborersList/v1.0"
	
	xmlns:bons19="http://Qiwa/TerminateContract/GetTermContCounts/v1.0"
	>
			
	<xsd:import 
		schemaLocation="GetTCLaborersList/GetTCLaborersList.xsd"
		namespace="http://Qiwa/TerminateContract/GetTCLaborersList/v1.0"/>		
			
	<xsd:import 
		schemaLocation="ValidateEmployeeEligibilityFinalExit/ValidateEmployeeEligibilityFinalExit.xsd"
		namespace="http://Qiwa/TerminateContract/ValidateEmployeeEligibilityFinalExit/v1.0"/>
		
	<xsd:import 
		schemaLocation="CheckLaborerAndUnifiedNumber/CheckLaborerAndUnifiedNumber.xsd"
		namespace="http://Qiwa/TerminateContract/CheckLaborerAndUnifiedNumber/v1.0"/>
		
	<xsd:import 
		schemaLocation="ValidateEmployeeEligibilityReentry/ValidateEmployeeEligibilityReentry.xsd"
		namespace="http://Qiwa/TerminateContract/ValidateEmployeeEligibilityReentry/v1.0"/>
		
	<xsd:import 
		schemaLocation="ValidateEmployerEligibilityFinalExit/ValidateEmployerEligibilityFinalExit.xsd"
		namespace="http://Qiwa/TerminateContract/ValidateEmployerEligibilityFinalExit/v1.0"/>
		
	<xsd:import 
		schemaLocation="ApproveRejectTCCancelationByEmployer/ApproveRejectTCCancelationByEmployer.xsd"
		namespace="http://Qiwa/TerminateContract/ApproveRejectTCCancelationByEmployer/v1.0"/>
		
	<xsd:import 
		schemaLocation="ApproveRejectTCCancelationByLaborer/ApproveRejectTCCancelationByLaborer.xsd"
		namespace="http://Qiwa/TerminateContract/ApproveRejectTCCancelationByLaborer/v1.0"/>
		
	<xsd:import 
		schemaLocation="SearchTerminateContractRequests/SearchTerminateContractRequests.xsd"
		namespace="http://Qiwa/TerminateContract/SearchTerminateContractRequests/v1.0"/>
		
	<xsd:import 
		schemaLocation="SubmitTCCancelationByEmployer/SubmitTCCancelationByEmployer.xsd"
		namespace="http://Qiwa/TerminateContract/SubmitTCCancelationByEmployer/v1.0"/>
		
	<xsd:import 
		schemaLocation="SubmitTCCancelationByLaborer/SubmitTCCancelationByLaborer.xsd"
		namespace="http://Qiwa/TerminateContract/SubmitTCCancelationByLaborer/v1.0"/>
		
	
	<xsd:import 
		schemaLocation="ApproveRejectUpdateRDByEmployer/ApproveRejectUpdateRDByEmployer.xsd"
		namespace="http://Qiwa/TerminateContract/ApproveRejectUpdateRDByEmployer/v1.0"/>
		
	<xsd:import 
		schemaLocation="CheckLaborerContracts/CheckLaborerContracts.xsd"
		namespace="http://Qiwa/TerminateContract/CheckLaborerContracts/v1.0"/>
		
	<xsd:import 
		schemaLocation="CheckTCLaborerEligibility/CheckTCLaborerEligibility.xsd"
		namespace="http://Qiwa/TerminateContract/CheckTCLaborerEligibility/v1.0"/>
		
	<xsd:import 
		schemaLocation="SubmitTCReqByLaborer/SubmitTCReqByLaborer.xsd"
		namespace="http://Qiwa/TerminateContract/SubmitTCReqByLaborer/v1.0"/>
		
	<xsd:import 
		schemaLocation="ValidateLaborerInTC/ValidateLaborerInTC.xsd"
		namespace="http://Qiwa/TerminateContract/ValidateLaborerInTC/v1.0"/>
	
	<xsd:import 
		schemaLocation="SubmitUpdateReleaseDateReqByLaborer/SubmitUpdateReleaseDateReqByLaborer.xsd"
		namespace="http://Qiwa/TerminateContract/SubmitUpdateReleaseDateReqByLaborer/v1.0"/>
		
	<xsd:import 
		schemaLocation="SubmitTCReqByEmployer/SubmitTCReqByEmployer.xsd"
		namespace="http://Qiwa/TerminateContract/SubmitTCReqByEmployer/v1.0"/>
		
	<xsd:import 
		schemaLocation="GetEstablishmentEmployeesListTC/GetEstablishmentEmployeesListTC.xsd"
		namespace="http://Qiwa/TerminateContract/GetEstablishmentEmployeesListTC/v1.0"/>
		<xsd:import 
		schemaLocation="GetTermContCounts/GetTermContCounts.xsd"
		namespace="http://Qiwa/TerminateContract/GetTermContCounts/v1.0"/>	

	<xsd:element name="ValidateEmployeeEligibilityFinalExitRq" type="bons1:ValidateEmployeeEligibilityFinalExitRq_Type"/>
	<xsd:element name="ValidateEmployeeEligibilityFinalExitRs" type="bons1:ValidateEmployeeEligibilityFinalExitRs_Type"/>
	
	<xsd:element name="CheckLaborerAndUnifiedNumberRq" type="bons2:CheckLaborerAndUnifiedNumberRq_Type"/>
	<xsd:element name="CheckLaborerAndUnifiedNumberRs" type="bons2:CheckLaborerAndUnifiedNumberRs_Type"/>
	
	<xsd:element name="ValidateEmployeeEligibilityReentryRq" type="bons3:ValidateEmployeeEligibilityReentryRq_Type"/>
	<xsd:element name="ValidateEmployeeEligibilityReentryRs" type="bons3:ValidateEmployeeEligibilityReentryRs_Type"/>
	
	<xsd:element name="ValidateEmployerEligibilityFinalExitRq" type="bons4:ValidateEmployerEligibilityFinalExitRq_Type"/>
	<xsd:element name="ValidateEmployerEligibilityFinalExitRs" type="bons4:ValidateEmployerEligibilityFinalExitRs_Type"/>
	
	<xsd:element name="ApproveRejectTCCancelationByEmployerRq" type="bons5:ApproveRejectTCCancelationByEmployerRq_Type"/>
	<xsd:element name="ApproveRejectTCCancelationByEmployerRs" type="bons5:ApproveRejectTCCancelationByEmployerRs_Type"/>
	
	<xsd:element name="ApproveRejectTCCancelationByLaborerRq" type="bons6:ApproveRejectTCCancelationByLaborerRq_Type"/>
	<xsd:element name="ApproveRejectTCCancelationByLaborerRs" type="bons6:ApproveRejectTCCancelationByLaborerRs_Type"/>
	
	<xsd:element name="SearchTerminateContractRequestsRq" type="bons7:SearchTerminateContractRequestsRq_Type"/>
	<xsd:element name="SearchTerminateContractRequestsRs" type="bons7:SearchTerminateContractRequestsRs_Type"/>
	
	<xsd:element name="SubmitTCCancelationByEmployerRq" type="bons8:SubmitTCCancelationByEmployerRq_Type"/>
	<xsd:element name="SubmitTCCancelationByEmployerRs" type="bons8:SubmitTCCancelationByEmployerRs_Type"/>
	
	<xsd:element name="SubmitTCCancelationByLaborerRq" type="bons9:SubmitTCCancelationByLaborerRq_Type"/>
	<xsd:element name="SubmitTCCancelationByLaborerRs" type="bons9:SubmitTCCancelationByLaborerRs_Type"/>
	
	<xsd:element name="ApproveRejectUpdateRDByEmployerRq" type="bons10:ApproveRejectUpdateRDByEmployerRq_Type"/>
	<xsd:element name="ApproveRejectUpdateRDByEmployerRs" type="bons10:ApproveRejectUpdateRDByEmployerRs_Type"/>
	
	<xsd:element name="CheckLaborerContractsRq" type="bons11:CheckLaborerContractsRq_Type"/>
	<xsd:element name="CheckLaborerContractsRs" type="bons11:CheckLaborerContractsRs_Type"/>
	
	<xsd:element name="CheckTCLaborerEligibilityRq" type="bons12:CheckTCLaborerEligibilityRq_Type"/>
	<xsd:element name="CheckTCLaborerEligibilityRs" type="bons12:CheckTCLaborerEligibilityRs_Type"/>
	
	<xsd:element name="SubmitTCReqByLaborerRq" type="bons13:SubmitTCReqByLaborerRq_Type"/>
	<xsd:element name="SubmitTCReqByLaborerRs" type="bons13:SubmitTCReqByLaborerRs_Type"/>
	
	<xsd:element name="ValidateLaborerInTCRq" type="bons14:ValidateLaborerInTCRq_Type"/>
	<xsd:element name="ValidateLaborerInTCRs" type="bons14:ValidateLaborerInTCRs_Type"/>
	
	<xsd:element name="SubmitUpdateReleaseDateReqByLaborerRq" type="bons15:SubmitUpdateReleaseDateReqByLaborerRq_Type"/>
	<xsd:element name="SubmitUpdateReleaseDateReqByLaborerRs" type="bons15:SubmitUpdateReleaseDateReqByLaborerRs_Type"/>
	
	<xsd:element name="SubmitTCReqByEmployerRq" type="bons16:SubmitTCReqByEmployerRq_Type"/>
	<xsd:element name="SubmitTCReqByEmployerRs" type="bons16:SubmitTCReqByEmployerRs_Type"/>
	
	<xsd:element name="GetEstablishmentEmployeesListTCRq" type="bons17:GetEstablishmentEmployeesListTCRq_Type"/>
	<xsd:element name="GetEstablishmentEmployeesListTCRs" type="bons17:GetEstablishmentEmployeesListTCRs_Type"/>
	
	<xsd:element name="GetTCLaborersListRq" type="bons18:GetTCLaborersListRq_Type"/>
	<xsd:element name="GetTCLaborersListRs" type="bons18:GetTCLaborersListRs_Type"/>
	
	<xsd:element name="GetTerminateContractCountsRq" type="bons19:GetTerminateContractCountsRq_Type"/>
	<xsd:element name="GetTerminateContractCountsRs" type="bons19:GetTerminateContractCountsRs_Type"/>
</xsd:schema>