CreateContractBulk/XSD&SWAGGER/XSD/CreateContractBulk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/ContractManagement/CreateContractBulk/v1.0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:bons0="http://Qiwa/ContractManagement/CreateContractBulk/v1.0" 
xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:Q1	="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>


	<xsd:element name="CreateContractBulkRq" type="bons0:CreateContractBulkRq_Type"/>
	<xsd:element name="CreateContractBulkRs" type="bons0:CreateContractBulkRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="CreateContractBulkRq_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:CreateContractBulkRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="CreateContractBulkRs_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLResponseHeader_Type"/>
				<xsd:element name="Body" type="bons0:CreateContractBulkRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="CreateContractBulkRq_BodyType">
		<all>
			<element minOccurs="1" name="ContractList" type="bons0:ContractList_Type"/>
			<element minOccurs="1" name="EstablishmentDetails" type="bons0:EstablishmentDetails_Type"/>
			<element minOccurs="1" name="RequesterDetails" type="bons0:RequesterDetails_Type"/>
			<element minOccurs="1" name="IsDraft" type="bons0:IsDraft_Type"/>
		</all>
	</complexType>
	<complexType name="ContractList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="ContractItem" type="bons0:ContractItem_Type"/>
		</sequence>
	</complexType>
	<complexType name="ContractItem_Type">
		<all>
			<element minOccurs="1" name="LaborersDetails" type="bons0:LaborersDetails_Type"/>
			<element minOccurs="1" name="ContractDetails" type="bons0:ContractDetails_Type"/>
			<element minOccurs="1" name="LanguageId" type="integer"/>
			<element minOccurs="1" name="DateTypeId" type="bons0:OneToTwo_Type"/>
			<element minOccurs="1" name="RelatedToId" type="bons0:OneToNineType"/>
			
		</all>
	</complexType>
	<simpleType name="IsDraft_Type">
		<restriction base="integer">
			<enumeration value="0"/>
			<enumeration value="1"/>
		</restriction>
	</simpleType>
	
	<simpleType name="OneToThree_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
		</restriction>
	</simpleType>
	<complexType name="LaborersDetails_Type">
		<all>
			<element minOccurs="1" name="LaborerIdNo"
				type="bons0:LaborerIdNo_Type" />
			<element minOccurs="0" name="BorderNumber" type="integer" />
			<element minOccurs="1" name="LaborerName" type="string" />
			<element minOccurs="1" name="LaborerTypeId" type="integer" />
			<element minOccurs="1" name="LaborerIdExpiryDate"
				type="Q1:Tmstmp_Type" />
			<element minOccurs="1" name="LaborerEmail" type="string" />
			<element minOccurs="1" name="LaborerMobileNumber"
				type="integer" />

			<element minOccurs="1" name="LaborerDOB"
				type="bons0:HGDate_Type" />
			<element minOccurs="1" name="DOBType"
				type="bons0:OneToTwo_Type" />

			<element name="Nationality" type="integer"
				minOccurs="0" maxOccurs="1">
			</element>
			<element name="Gender" type="bons0:OneToThree_Type"
				minOccurs="0" maxOccurs="1">
			</element>
			<element name="Religion" type="integer"
				minOccurs="0" maxOccurs="1">
			</element>
            <element name="MaritalStatus" type="bons0:ZeroToFive_Type" minOccurs="0" maxOccurs="1"></element>
            <element minOccurs="1" name="EducationId"
				type="integer" />
			<element minOccurs="1" name="SpecialtyId" type="integer" />
			<element minOccurs="1" name="WorkLocationId" type="integer" />
			<element minOccurs="1" name="IBAN" type="string" />
		</all>
	</complexType>
	<complexType name="EstablishmentDetails_Type">
		<all>
			<element minOccurs="1" name="LaborOfficeId" type="integer"/>
			<element minOccurs="1" name="SequenceNumber" type="integer"/>
			<element minOccurs="1" name="EstablishmentId" type="integer"/>
			<element minOccurs="1" name="UnifiedNumberId" type="integer"/>
			<element minOccurs="1" name="EntityId" type="string"/>
			<element minOccurs="1" name="EstablishmentNameAr" type="string"/>
			<element minOccurs="1" name="EstablishmentNameEn" type="string"/>
			<element minOccurs="1" name="EstablishmentEmail" type="string"/>
		</all>
	</complexType>
	<complexType name="RequesterDetails_Type">
		<all>
			<element minOccurs="1" name="RequesterIdNo" type="integer" />
			<element minOccurs="1" name="RequesterName" type="string" />
			<element minOccurs="1" name="RequesterUserId"
				type="integer" />
			<element name="RequesterRole" type="string" minOccurs="0" maxOccurs="1"></element>
		</all>
	</complexType>
	
	<simpleType name="LaborerIdNo_Type">
		<restriction base="integer">
			<pattern value="[1-4][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" />
		</restriction>
	</simpleType>
	
	<complexType name="ContractDetails_Type">
		<all>
			<element minOccurs="1" name="OccupationId" type="integer"/>
			<element minOccurs="1" name="JobTitle" type="bons0:JobTitle_Type"/>
			<element minOccurs="1" name="LaborerJobNumber" type="string"/>
			<element minOccurs="1" name="ContractTypeId" type="bons0:Five_Type"/>
			<element minOccurs="1" name="ContractDurationId" type="bons0:OneToTwo_Type"/>
			<element minOccurs="0" name="ContractPeriod" type="integer"/>
			<element minOccurs="1" name="ProbationPeriod" type="integer"/>
			<element minOccurs="0" name="ProbationTerminationRight" type="bons0:OneToFour_Type"/>
			<element minOccurs="1" name="WorkingHoursTypeId" type="bons0:OneToTwo_Type"/>
			<element minOccurs="1" name="VacationPeriod" type="integer"/>
			<element minOccurs="1" name="Salary" type="xsd:decimal"/>
			<element minOccurs="1" name="SalaryTypeId" type="bons0:OneToTwo_Type"/>
			<element minOccurs="0" name="PercentageReasonEN" type="string"/>
			<element minOccurs="0" name="PercentageReasonAR" type="string"/>
			<element minOccurs="0" name="Allowances" type="bons0:AllowancesList_Type"/>
			<element minOccurs="0" name="CategoryId" type="integer"/>
			<element minOccurs="0" name="UploadedFiles" type="bons0:UploadedFiles_Type"/>
			<element minOccurs="0" name="IsUploadFilesSkiped" type="integer"/>
			<element minOccurs="1" name="StartDate" type="bons0:HGDate_Type"/>
			<element minOccurs="0" name="ExpiryDate" type="bons0:HGDate_Type"/>
			<element minOccurs="0" name="JoiningDate" type="Q1:Dt_Type"/>
			<element minOccurs="1" name="RenewalStatusId" type="bons0:OneToTwo_Type"/>
			<element minOccurs="1" name="NoticePeriod" type="integer"/>
			<element minOccurs="0" name="AddedClauses" type="bons0:AddedClausesList_Type"/>
			<element minOccurs="1" name="SalaryFrequency" type="bons0:OneToTwo_Type"/>
			<element minOccurs="0" name="AdditionalAllowancesList" type="bons0:AdditionalAllowancesList_Type"/>
			<element minOccurs="0" name="HoursPerWeek" type="integer"/>
			<element minOccurs="0" name="DaysPerWeek" type="integer"/>
			<element minOccurs="0" name="HoursPerDay" type="integer"/>
			<element minOccurs="0" name="OptionalArticles" type="bons0:OptionalArticles_Type"/>
		</all>
	</complexType>
	<complexType name="AllowancesList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="AllowancesItem" type="bons0:KeyValue_Type"/>
		</sequence>
	</complexType>
	<complexType name="KeyValue_Type">
		<all>
			<element minOccurs="1" name="Key" type="string"/>
			<element minOccurs="1" name="Value" type="string"/>
		</all>
	</complexType>
	<complexType name="AddedClausesList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="AddedClausesItem" type="bons0:KeyValue_Type"/>
		</sequence>
	</complexType>
	
	<complexType name="JobTitle_Type">
		<all>
			<element minOccurs="1" name="JobTitleAr" type="string"/>
			<element minOccurs="1" name="JobTitleEng" type="string"/>
		</all>
	</complexType>
	<simpleType name="OneToFour_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
			<enumeration value="4"/>
		</restriction>
	</simpleType>
	
	<simpleType name="Five_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
			<enumeration value="4"/>
			<enumeration value="5"/>
		</restriction>
	</simpleType>
	
	<simpleType name="OneToTwo_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
		</restriction>
	</simpleType>
	
	<complexType name="HGDate_Type">
		<all>
			<element minOccurs="0" name="HijriDate" type="integer"/>
			<element minOccurs="0" name="GregDate" type="Q1:Tmstmp_Type"/>
		</all>
	</complexType>
	
	
	<complexType name="AdditionalAllowancesList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="Item" type="bons0:AdditionalAllowancesItem_Type"/>		
		</sequence>
	</complexType>
	<complexType name="AdditionalAllowancesItem_Type">
		<all>
			<element minOccurs="0" name="BenefitNameAr" type="string"/>
			<element minOccurs="0" name="BenefitNameEn" type="string"/>
			<element minOccurs="0" name="Frequency" type="bons0:OneToFour_Type"/>
			<element minOccurs="0" name="AmountType" type="bons0:OneToTwo_Type"/>
			<element minOccurs="0" name="Amount" type="decimal"/>
		</all>
	</complexType>
	<complexType name="OptionalArticles_Type">
		<all>
			<element minOccurs="0" name="Period" type="integer"/>
			<element minOccurs="0" name="Location" type="string"/>
			<element minOccurs="0" name="WorkField" type="string"/>
		</all>
	</complexType>
	
	<complexType name="UploadedFiles_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="UploadedFilesItem" type="bons0:UploadedFilesItem_Type"/>		
		</sequence>
	</complexType>
	<complexType name="UploadedFilesItem_Type">
		<all>
			<element minOccurs="1" name="FileId" type="string"/>
			<element minOccurs="1" name="FileTypeId" type="integer"/>
		</all>
	</complexType>
	
	<complexType name="CreateContractBulkRs_BodyType">
		<all>
			<element minOccurs="1" name="BulkId" type="integer"/>
			<element minOccurs="0" name="ContractList" type="bons0:ContractListRs_Type"/>
		</all>
	</complexType>
	<complexType name="ContractListRs_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="ContractItem" type="bons0:ContractItemRs_Type"/>
		</sequence>
	</complexType>
	<complexType name="ContractItemRs_Type">
		<all>
			<element minOccurs="1" name="ContractId" type="integer"/>
		</all>
	</complexType>

	<simpleType name="OneToNineType">
		<restriction base="integer">
			<enumeration value="1" />
			<enumeration value="2" />
			<enumeration value="3" />
			<enumeration value="4" />
			<enumeration value="5" />
			<enumeration value="6" />
			<enumeration value="7" />
			<enumeration value="8" />
			<enumeration value="9" />
		</restriction>
	</simpleType>

	<simpleType name="ZeroToFive_Type">
		<restriction base="integer">
			<enumeration value="0" />
			<enumeration value="1" />
			<enumeration value="2" />
			<enumeration value="3" />
			<enumeration value="4" />
			<enumeration value="5" />
		</restriction>
	</simpleType>
</xsd:schema>