CancelContractRequest/XSD&Swagger/XSD/CancelContractRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/ContractManagement/CancelContractRequest/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/ContractManagement/CancelContractRequest/v1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:Q1="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>


	<xsd:element name="CancelContractRequestRq" type="bons0:CancelContractRequestRq_Type"/>
	<xsd:element name="CancelContractRequestRs" type="bons0:CancelContractRequestRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="CancelContractRequestRq_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:CancelContractRequestRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="CancelContractRequestRs_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLResponseHeader_Type"/>
				<xsd:element minOccurs="1" name="Body" type="bons0:CancelContractRequestRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="CancelContractRequestRq_BodyType">
		<all>
			<element minOccurs="1" name="LaborOfficeId" type="integer"/>
			<element minOccurs="1" name="SequenceNumber" type="integer"/>
			<element minOccurs="1" name="ContractId" type="integer"/>
			
		</all>
	</complexType>
	
	
	<complexType name="CancelContractRequestRs_BodyType">
		<all>
			
		</all>
	</complexType>
	
	


</xsd:schema>