TerminateContractLib/CheckLaborerAndUnifiedNumber/CheckLaborerAndUnifiedNumber.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/TerminateContract/CheckLaborerAndUnifiedNumber/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/TerminateContract/CheckLaborerAndUnifiedNumber/v1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:bons1="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>
  

	<xsd:element name="CheckLaborerAndUnifiedNumberRq" type="bons0:CheckLaborerAndUnifiedNumberRq_Type"/>
	<xsd:element name="CheckLaborerAndUnifiedNumberRs" type="bons0:CheckLaborerAndUnifiedNumberRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="CheckLaborerAndUnifiedNumberRq_Type">
			<sequence>
				<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:CheckLaborerAndUnifiedNumberRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="CheckLaborerAndUnifiedNumberRs_Type">
			<sequence>
				<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
				<xsd:element minOccurs="1" name="Body" type="bons0:CheckLaborerAndUnifiedNumberRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="CheckLaborerAndUnifiedNumberRq_BodyType">
		<all>
			<element minOccurs="1" name="IdNumber"   type="string"/>
			<element minOccurs="1" name="NationalUnifiedNumber" type="string"/>
		</all>
	</complexType>
	
	    
	<complexType name="CheckLaborerAndUnifiedNumberRs_BodyType"> 
		<all>
		</all>
	</complexType>
	
</xsd:schema>