CreateNewContract/XSD&Swagger/XSD/CreateNewContract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/ContractManagement/CreateNewContract/v1.0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:bons0="http://Qiwa/ContractManagement/CreateNewContract/v1.0" 
xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:Q1	="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>


	<xsd:element name="CreateNewContractRq" type="bons0:CreateNewContractRq_Type"/>
	<xsd:element name="CreateNewContractRs" type="bons0:CreateNewContractRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="CreateNewContractRq_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:CreateNewContractRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="CreateNewContractRs_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLResponseHeader_Type"/>
				<xsd:element name="Body" type="bons0:CreateNewContractRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="CreateNewContractRq_BodyType">
		<all>
			<element minOccurs="1" name="EstablishmentDetails" type="bons0:EstablishmentDetails_Type"/>
			<element minOccurs="1" name="LaborerDetails" type="bons0:LaborerDetails_Type"/>
			<element minOccurs="1" name="RequesterDetails" type="bons0:RequesterDetails_type"/>
			<element minOccurs="1" name="ContractDetails" type="bons0:ContractDetails_Type"/>
			<element minOccurs="1" name="LanguageId" type="integer"/>
			<element minOccurs="1" name="DateTypeId" type="bons0:INT2_Type"/>
			<element minOccurs="1" name="RelatedToId" type="bons0:INT9_Type"/>
		</all>
	</complexType>
	<simpleType name="INT9_Type">
		<restriction base="integer">
			<enumeration value="1" />
			<enumeration value="2" />
			<enumeration value="3" />
			<enumeration value="4" />
			<enumeration value="5" />
			<enumeration value="6" />
			<enumeration value="7" />
			<enumeration value="8" />
			<enumeration value="9" />
		</restriction>
	</simpleType>
	<complexType name="EstablishmentDetails_Type">
		<all>
			<element minOccurs="1" name="LaborOfficeId" type="integer"/>
			<element minOccurs="1" name="SequenceNumber" type="integer"/>
			<element minOccurs="1" name="EstablishmentId" type="integer"/>
			<element minOccurs="1" name="UnifiedNumberId" type="integer"/>
			<element minOccurs="1" name="EntityId" type="string"/>
			<element minOccurs="1" name="EstablishmentNameAr" type="string"/>
			<element minOccurs="1" name="EstablishmentNameEn" type="string"/>
			<element minOccurs="1" name="EstablishmentEmail" type="string"/>
		</all>
	</complexType>
	<complexType name="LaborerDetails_Type">
		<all>
			<element minOccurs="1" name="LaborerIdNo"
				type="bons0:LaborerIdNo_Type" />
				
			<element minOccurs="0" name="BorderNumber" type="integer" />
			<element minOccurs="1" name="LaborerName" type="string" />
			<element minOccurs="1" name="LaborerTypeId" type="integer" />
			<element minOccurs="1" name="LaborerIdExpiryDate"
				type="Q1:Tmstmp_Type" />
			<element minOccurs="1" name="LaborerEmail" type="string" />
			<element minOccurs="1" name="LaborerMobileNumber"
				type="string" />
			<element minOccurs="1" name="LaborerDOB"
				type="bons0:HGDate_Type" />
			<element minOccurs="1" name="DOBType"
				type="bons0:INT2_Type" />
            <element name="Nationality" type="integer" minOccurs="0" maxOccurs="1">
			</element>
            <element name="Gender" type="bons0:INT3_Type" minOccurs="0" maxOccurs="1">
			</element>
            <element name="Religion" type="integer" minOccurs="0" maxOccurs="1">
			</element>
            <element name="MaritalStatus" type="bons0:INT0_5_Type" minOccurs="0" maxOccurs="1" />
            <element minOccurs="1" name="EducationId" type="integer" />
			<element minOccurs="1" name="SpecialtyId" type="integer" />
			<element minOccurs="1" name="WorkLocationId" type="integer" />
			<element minOccurs="1" name="IBAN" type="string" />


		</all>
	</complexType>
	
	<simpleType name="LaborerIdNo_Type">
		<restriction base="integer">
			<pattern value="[1-4][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" />
		</restriction>
	</simpleType>
	<complexType name="RequesterDetails_type">
		<all>
			<element minOccurs="1" name="RequesterIdNo" type="integer" />
			<element minOccurs="1" name="RequesterName" type="string" />
			<element minOccurs="1" name="RequesterUserId"
				type="integer" />
			<element name="RequesterRole" type="string" minOccurs="0" maxOccurs="1" />
		</all>
	</complexType>
	<complexType name="ContractDetails_Type">
		<all>
			<element minOccurs="1" name="OccupationId" type="integer" />
			<element minOccurs="1" name="JobTitle"
				type="bons0:JobTitle_Type" />
			<element minOccurs="1" name="LaborerJobNumber"
				type="string" />
			<element minOccurs="1" name="ContractTypeId"
				type="bons0:INT5_Type" />
			<element minOccurs="1" name="ContractDurationId"
				type="bons0:INT2_Type" />
			<element minOccurs="0" name="ContractPeriod" type="integer" />
			<element minOccurs="0" name="ProbationPeriod"
				type="integer" />
			<element minOccurs="1" name="WorkingHoursTypeId"
				type="bons0:INT2_Type" />
			<element minOccurs="1" name="VacationPeriod" type="integer" />
			<element minOccurs="1" name="Salary" type="decimal" />
			<element minOccurs="0" name="Allowances"
				type="bons0:AllowancesItems_Type" />
			<element minOccurs="1" name="StartDate"
				type="bons0:HGDate_Type" />
			<element minOccurs="0" name="ExpiryDate"
				type="bons0:HGDate_Type" />
			<element minOccurs="1" name="RenewalStatusId"
				type="bons0:INT2_Type" />
			<element minOccurs="1" name="NoticePeriod" type="integer" />
			<element minOccurs="0" name="AddedClauses"
				type="bons0:AddedClausesItems_Type" />
			<element minOccurs="0" name="SalaryFrequency"
				type="bons0:INT2_Type" />
			<element minOccurs="0" name="AdditionalAllowancesList"
				type="bons0:AdditionalAllowancesList_Type" />
			<element minOccurs="0" name="HoursPerWeek" type="integer" />
			<element minOccurs="0" name="DaysPerWeek" type="integer" />
			<element minOccurs="0" name="HoursPerDay" type="integer" />
			<element minOccurs="0" name="OptionalArticles"
				type="bons0:OptionalArticles_Type" />
			<element name="JoiningDate" type="Q1:Dt_Type" minOccurs="0"
				maxOccurs="1" />
			<element minOccurs="1" name="SalaryTypeId"
				type="bons0:INT2_Type" />
			<element minOccurs="0" name="PercentageReasonEN"
				type="string" />
			<element minOccurs="0" name="PercentageReasonAR"
				type="string" />
			<xsd:element name="CategoryId" type="xsd:integer"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<element minOccurs="0" name="UploadedFiles"
				type="bons0:UploadedFiles_Type" />
			<element minOccurs="0" name="IsUploadFilesSkiped"
				type="integer" />

			<xsd:element name="ProbationTerminationRight" type="bons0:INT4_Type" minOccurs="0" maxOccurs="1"></xsd:element>
		</all>
	</complexType>
	
	<simpleType name="INT5_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
			<enumeration value="4"/>
			<enumeration value="5"/>
		</restriction>
	</simpleType>
	
	
	
	<complexType name="JobTitle_Type">
		<all>
			<element minOccurs="1" name="JobTitleAr" type="string"/>
			<element minOccurs="1" name="JobTitleEng" type="string"/>
		</all>
	</complexType>
	<complexType name="HGDate_Type">
		<all>
			<element minOccurs="0" name="HijriDate" type="integer"/>
			<element minOccurs="0" name="GregDate" type="Q1:Tmstmp_Type"/>
		</all>
	</complexType>
	<complexType name="AllowancesItems_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="AllowancesItems" type="bons0:KeyValue_Type"/>
		</sequence>
	</complexType>
	<complexType name="AddedClausesItems_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="AddedClausesItems" type="bons0:KeyValue_Type"/>
		</sequence>
	</complexType>
	<complexType name="KeyValue_Type">
		<all>
			<element minOccurs="1" name="Key" type="string"/>
			<element minOccurs="1" name="Value" type="string"/>
		</all>
	</complexType>
	<complexType name="AdditionalAllowancesList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="Item" type="bons0:Item_Type"/>
		</sequence>
	</complexType>
	<complexType name="Item_Type">
		<all>
			<element minOccurs="0" name="BenefitNameAr" type="string"/>
			<element minOccurs="0" name="BenefitNameEn" type="string"/>
			<element minOccurs="0" name="Frequency" type="bons0:INT4_Type"/>
			<element minOccurs="0" name="AmountType" type="bons0:INT2_Type"/>
			<element minOccurs="0" name="Amount" type="decimal"/>
		</all>
	</complexType>
	<simpleType name="INT4_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
			<enumeration value="4"/>
		</restriction>
	</simpleType>
	<simpleType name="INT2_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
		</restriction>
	</simpleType>
	<complexType name="OptionalArticles_Type">
		<all>
			<element minOccurs="0" name="Period" type="integer"/>
			<element minOccurs="0" name="Location" type="string"/>
			<element minOccurs="0" name="WorkField" type="string"/>
		</all>
	</complexType>
	<complexType name="UploadedFiles_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="UploadedFilesItem" type="bons0:UploadedFilesItem_Type"/>
		</sequence>
	</complexType>
	<complexType name="UploadedFilesItem_Type">
		<all>
			<element minOccurs="1" name="FileId" type="string" />
			<xsd:element name="FileTypeId" type="xsd:integer" minOccurs="1"></xsd:element>
		</all>
	</complexType>
	<complexType name="CreateNewContractRs_BodyType">
		<all>
			<element minOccurs="1" name="ContractId" type="integer"/>
			<element minOccurs="1" name="Status" type="bons0:CodeName_Type"/>
		</all>
	</complexType>
	<complexType name="CodeName_Type">
		<all>
			<element minOccurs="1" name="Code" type="integer"/>
			<element minOccurs="1" name="NameAr" type="string"/>
			<element minOccurs="1" name="NameEn" type="string"/>
		</all>
	</complexType>

	<simpleType name="INT3_Type">
		<restriction base="integer">
			<enumeration value="1" />
			<enumeration value="2" />
			<enumeration value="3" />
		</restriction>
	</simpleType>

	<simpleType name="INT0_5_Type">
		<restriction base="integer">
			<enumeration value="0" />
			<enumeration value="1" />
			<enumeration value="2" />
			<enumeration value="3" />
			<enumeration value="4" />
			<enumeration value="5" />
		</restriction>
	</simpleType>
</xsd:schema>