SearchContractBulk/XSD&Swagger/XSD/SearchContractBulk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/ContractManagement/SearchContractBulk/v1.0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:bons0="http://Qiwa/ContractManagement/SearchContractBulk/v1.0" 
xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:Q1	="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>


	<xsd:element name="SearchContractBulkRq" type="bons0:SearchContractBulkRq_Type"/>
	<xsd:element name="SearchContractBulkRs" type="bons0:SearchContractBulkRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="SearchContractBulkRq_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:SearchContractBulkRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="SearchContractBulkRs_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLResponseHeader_Type"/>
				<xsd:element name="Body" type="bons0:SearchContractBulkRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="SearchContractBulkRq_BodyType">
		<all>
			<element minOccurs="1" name="BulkId" type="integer"/>
			<element minOccurs="1" name="LaborOfficeId" type="integer"/>
			<element minOccurs="1" name="SequenceNumber" type="integer"/>
			<element minOccurs="1" name="PageSize" type="integer"/>
			<element minOccurs="1" name="PageIndex" type="integer"/>
		</all>
	</complexType>
	
	<complexType name="SearchContractBulkRs_BodyType">
		<all>
			<element minOccurs="1" name="ContractList" type="bons0:ContractList_Type"/>
			<element minOccurs="1" name="EstablishmentDetails" type="bons0:EstablishmentDetails_Type"/>
			<element minOccurs="1" name="RequesterDetails" type="bons0:RequesterDetails_Type"/>
			<element minOccurs="1" name="TotalRecordCount" type="integer"/>
		</all>
	</complexType>
	<complexType name="ContractList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="ContractItem" type="bons0:ContractItem_Type"/>
		</sequence>
	</complexType>
	<complexType name="ContractItem_Type">
		<all>
			<element minOccurs="1" name="LaborersDetails" type="bons0:LaborersDetails_Type"/>
			<element minOccurs="1" name="ContractDetails" type="bons0:ContractDetails_Type"/>
			<element minOccurs="1" name="LanguageId" type="integer"/>
			<element minOccurs="1" name="DateTypeId" type="bons0:DateTypeId_Type"/>
			<element minOccurs="1" name="RelatedToId" type="bons0:RelatedToId_Type"/>
			<element minOccurs="1" name="BulkItemDetails" type="bons0:BulkItemDetails_Type"/>
		</all>
	</complexType>
	<complexType name="BulkItemDetails_Type">
		<all>
			<element minOccurs="1" name="BulkStatus" type="bons0:BulkStatus_Type"/>
			<element minOccurs="1" name="RejectionReason " type="string"/>
		</all>
	</complexType>
	<complexType name="BulkStatus_Type">
		<all>
			<element minOccurs="1" name="BulkStatusId" type="integer"/>
			<element minOccurs="1" name="BulkStatusAr " type="string"/>
			<element minOccurs="1" name="BulkStatusEn " type="string"/>
		</all>
	</complexType>
	<simpleType name="DateTypeId_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="RelatedToId_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
		</restriction>
	</simpleType>
	<complexType name="LaborersDetails_Type">
		<all>
			<element minOccurs="1" name="LaborerIdNo"
				type="bons0:LaborerIdNo_Type" />
			<element minOccurs="1" name="LaborerName" type="string" />
			<element minOccurs="1" name="LaborerTypeId" type="integer" />
			<element minOccurs="1" name="LaborerIdExpiryDate"
				type="Q1:Tmstmp_Type" />
			<element minOccurs="1" name="LaborerEmail" type="string" />
			<element minOccurs="1" name="LaborerMobileNumber"
				type="integer" />
			<element name="Nationality" type="bons0:CodeName_Type"
				minOccurs="1">
			</element>
			<element name="Gender" type="bons0:CodeName_Type"
				minOccurs="1">
			</element>
            <element name="Religion" type="bons0:CodeName_Type" minOccurs="1">
			</element>
            <element name="MaritalStatus" type="bons0:CodeName_Type" minOccurs="1" />
            <element minOccurs="1" name="Education"
				type="bons0:CodeName_Type" />
			<element minOccurs="1" name="LaborerDOB"
				type="bons0:HGDate_Type" />
			<element minOccurs="1" name="Specialty"
				type="bons0:CodeName_Type" />
			<element minOccurs="1" name="WorkLocation"
				type="bons0:CodeName_Type" />
			<element minOccurs="1" name="IBAN" type="string" />
		</all>
	</complexType>
	
	<complexType name="CodeName_Type">
		<all>
			<element minOccurs="1" name="Code" type="integer"/>
			<element minOccurs="1" name="NameAr" type="string"/>
			<element minOccurs="1" name="NameEn" type="string"/>
		</all>
	</complexType>
	<complexType name="EstablishmentDetails_Type">
		<all>
			<element minOccurs="1" name="LaborOfficeId" type="integer"/>
			<element minOccurs="1" name="SequenceNumber" type="integer"/>
			<element minOccurs="1" name="EstablishmentId" type="integer"/>
			<element minOccurs="1" name="UnifiedNumberId" type="integer"/>
			<element minOccurs="1" name="EntityId" type="string"/>
			<element minOccurs="1" name="EstablishmentNameAr" type="string"/>
			<element minOccurs="1" name="EstablishmentNameEn" type="string"/>
			<element minOccurs="1" name="EstablishmentEmail" type="string"/>
		</all>
	</complexType>
	<complexType name="RequesterDetails_Type">
		<all>
			<element minOccurs="1" name="RequesterIdNo" type="integer" />
			<element minOccurs="1" name="RequesterName" type="string" />
			<element minOccurs="1" name="RequesterUserId"
				type="integer" />
			<element name="RequesterRole" type="string" minOccurs="0" maxOccurs="1" />
		</all>
	</complexType>
	
	<simpleType name="LaborerIdNo_Type">
		<restriction base="integer">
			<pattern value="[1-4][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" />
		</restriction>
	</simpleType>
	
	<complexType name="ContractDetails_Type">
		<all>
			<element minOccurs="1" name="ContractId" type="integer"/>
			<element minOccurs="1" name="JobTitle" type="bons0:JobTitle_Type"/>
			<element minOccurs="1" name="LaborerJobNumber" type="string"/>
			<element minOccurs="1" name="ContractTypeId" type="bons0:Five_Type"/>
			<element minOccurs="1" name="ContractDurationId" type="bons0:OneTwo_Type"/>
			<element minOccurs="0" name="ContractPeriod" type="integer"/>
			<element minOccurs="0" name="ProbationPeriod" type="integer"/>
			<element minOccurs="0" name="ProbationTerminationRight" type="bons0:OneThree_Type"/>
			<element minOccurs="1" name="WorkingHoursTypeId" type="bons0:OneTwo_Type"/>
			<element minOccurs="1" name="VacationPeriod" type="integer"/>
			<element minOccurs="1" name="Salary" type="decimal"/>
			<element minOccurs="1" name="SalaryType" type="bons0:CodeName_Type"/>
			<element minOccurs="0" name="PercentageReasonEN" type="string"/>
			<element minOccurs="0" name="PercentageReasonAR" type="string"/>
			<element minOccurs="0" name="Allowances" type="bons0:List_Type"/>
			<element minOccurs="1" name="StartDate" type="bons0:HGDate_Type"/>
			<element minOccurs="0" name="ExpiryDate" type="bons0:HGDate_Type"/>
			<element minOccurs="0" name="JoiningDate" type="Q1:Dt_Type"/>
			<element minOccurs="1" name="RenewalStatusId" type="bons0:OneTwo_Type"/>
			<element minOccurs="1" name="NoticePeriod" type="integer"/>
			<element minOccurs="0" name="AddedClauses" type="bons0:List_Type"/>
			<element minOccurs="0" name="SalaryFrequency" type="bons0:OneTwo_Type"/>
			<element minOccurs="0" name="AdditionalAllowancesList" type="bons0:AdditionalAllowancesList_Type"/>
			<element minOccurs="0" name="HoursPerWeek" type="integer"/>
			<element minOccurs="0" name="DaysPerWeek" type="integer"/>
			<element minOccurs="0" name="HoursPerDay" type="integer"/>
			<element minOccurs="0" name="OptionalArticles" type="bons0:OptionalArticles_Type"/>			
			<element minOccurs="0" name="Category"	type="bons0:CodeName_Type" />
			<element minOccurs="0" name="UploadedFiles" type="bons0:UploadedFiles_Type"/>
			<element minOccurs="0" name="IsUploadFilesSkiped" type="integer"/>
		</all>
	</complexType>
	<complexType name="JobTitle_Type">
		<all>
			<element minOccurs="1" name="JobTitleAr" type="string"/>
			<element minOccurs="1" name="JobTitleEng" type="string"/>
		</all>
	</complexType>
	<simpleType name="OneFour_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
			<enumeration value="4"/>
		</restriction>
	</simpleType>
	
	<simpleType name="OneThree_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
		</restriction>
	</simpleType>
	<simpleType name="Five_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
			<enumeration value="4"/>
			<enumeration value="5"/>
		</restriction>
	</simpleType>
	<simpleType name="OneTwo_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
		</restriction>
	</simpleType>
	
	<complexType name="HGDate_Type">
		<all>
			<element minOccurs="0" name="HijriDate" type="integer"/>
			<element minOccurs="0" name="GregDate" type="Q1:Tmstmp_Type"/>
		</all>
	</complexType>
	
	<complexType name="List_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="Item" type="bons0:KeyValue_Type"/>
		</sequence>
	</complexType>
	<complexType name="KeyValue_Type">
		<all>
			<element minOccurs="1" name="Key" type="string"/>
			<element minOccurs="1" name="Value" type="string"/>
		</all>
	</complexType>
	<complexType name="AdditionalAllowancesList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="Item" type="bons0:AdditionalAllowancesItem_Type"/>		
		</sequence>
	</complexType>
	<complexType name="AdditionalAllowancesItem_Type">
		<all>
			<element minOccurs="0" name="BenefitNameAr" type="string"/>
			<element minOccurs="0" name="BenefitNameEn" type="string"/> 
			<element minOccurs="0" name="Frequency" type="bons0:OneFour_Type"/>
			<element minOccurs="0" name="AmountType" type="bons0:OneTwo_Type"/>
			<element minOccurs="0" name="Amount" type="decimal"/>
		</all>
	</complexType>
	<complexType name="OptionalArticles_Type">
		<all>
			<element minOccurs="0" name="Period" type="integer"/>
			<element minOccurs="0" name="Location" type="string"/>
			<element minOccurs="0" name="WorkField" type="string"/>
		</all>
	</complexType>
	<complexType name="UploadedFiles_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="UploadedFilesItem" type="bons0:UploadedFilesItem_Type"/>		
		</sequence>
	</complexType>
		<complexType name="UploadedFilesItem_Type">
		<all>
			<element minOccurs="0" name="FileId" type="string"/> 
		</all>
	</complexType>
</xsd:schema>