ApproveRejectContractByLaborer/XSD&Swagger/XSD/ApproveRejectContractByLaborer.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://Qiwa/ContractManagement/ApproveRejectContractByLaborer/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/ContractManagement/ApproveRejectContractByLaborer/v1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:Q1="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>


	<xsd:element name="ApproveRejectContractByLaborerRq" type="bons0:ApproveRejectContractByLaborerRq_Type"/>
	<xsd:element name="ApproveRejectContractByLaborerRs" type="bons0:ApproveRejectContractByLaborerRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="ApproveRejectContractByLaborerRq_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:ApproveRejectContractByLaborerRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="ApproveRejectContractByLaborerRs_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLResponseHeader_Type"/>
				<xsd:element minOccurs="1" name="Body" type="bons0:ApproveRejectContractByLaborerRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="ApproveRejectContractByLaborerRq_BodyType">
		<all>
			<element minOccurs="1" name="ContractId" type="integer"/> 
			<element minOccurs="1" name="IsApproved"> 
			<simpleType>
				<restriction base="integer">
					<enumeration value="0"/>
					<enumeration value="1"/>
					<enumeration value="2"/>
				</restriction>
			</simpleType>
			</element>
			<element minOccurs="0" name="RejectionReason" type="integer"/>
			<element minOccurs="0" name="ModificationReason" type="integer"/>
			<element minOccurs="0" name="ReasonText" type="string"/>
		</all>
	</complexType>
	
	
	<complexType name="ApproveRejectContractByLaborerRs_BodyType">
		<all>
			
		</all>
	</complexType>
	
</xsd:schema>