GetContractsList/XSD&Swagger/XSD/GetContractsList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/ContractManagement/GetContractsList/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/ContractManagement/GetContractsList/v1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:bons1="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>
 

	<xsd:element name="GetContractsListRq" type="bons0:GetContractsListRq_Type"/>
	<xsd:element name="GetContractsListRs" type="bons0:GetContractsListRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="GetContractsListRq_Type">
			<sequence>
				<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:GetContractsListRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="GetContractsListRs_Type">
			<sequence>
				<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
				<xsd:element minOccurs="0" name="Body" type="bons0:GetContractsListRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="GetContractsListRq_BodyType">
		<all>
			<element minOccurs="0" name="EstablishmentDetails" type="bons0:EstablishmentDetails_Type"/>
			<element minOccurs="0" name="LaborerDetails" type="bons0:LaborerDetails_Type"/>
			<element minOccurs="0" name="RequesterDetails" type="bons0:RequesterDetails_Type"/>
			<element minOccurs="0" name="SortByExpiryDate" type="bons0:SortByExpiryDate_Type"/>
			<element minOccurs="0" name="SortByNoticePeriod" type="bons0:SortByNoticePeriod_Type"/>
			<element minOccurs="0" name="SortByModificationDate" type="bons0:SortByModificationDate_Type"/>
			<element minOccurs="0" name="StatusList" type="bons0:StatusList_Type"/>
			<element minOccurs="0" name="SalaryTypeId" >
				<simpleType>
					<restriction base="integer">
						  <enumeration value="1"/>
						  <enumeration value="2"/>
					</restriction>
				</simpleType>
			</element>				
			<element minOccurs="0" name="DateTypeId" >
				<simpleType>
					<restriction base="integer">
						  <enumeration value="1"/>
						  <enumeration value="2"/>
					</restriction>
				</simpleType>
			</element>
			<element minOccurs="1" name="PageSize" type="integer"/>
			<element minOccurs="1" name="PageIndex" type="integer"/>
		</all>
	</complexType>
	
	<complexType name="EstablishmentDetails_Type">
		<all>
			<element minOccurs="0" name="LaborOfficeId" type="integer"/>
			<element minOccurs="0" name="SequenceNumber" type="integer"/>
			<element minOccurs="0" name="EstablishmentId" type="integer"/>
			<element minOccurs="0" name="EntityId" type="string"/>
			<element minOccurs="0" name="UnifiedNumberId" type="integer"/>
		</all>
	</complexType>
	
	<complexType name="LaborerDetails_Type">
		<all>
			<element minOccurs="0" name="LaborerIdNo" type="integer"/>
			<element minOccurs="0" name="LaborerName" type="string"/>
			<element minOccurs="0" name="LaborerTypeId" type="integer"/>
		</all>
	</complexType>
	
	<complexType name="RequesterDetails_Type">
		<all>
		    <element minOccurs="0" name="RequesterUserId" type="integer"/>
			<element minOccurs="0" name="RequesterName" type="string"/>
			<element minOccurs="0" name="RequesterIdNo" type="string"/>
		</all>
	</complexType>
	
	<simpleType name="SortByExpiryDate_Type">
		<restriction base="integer">
			<enumeration value="0"/>
			<enumeration value="1"/>
			<enumeration value="2"/>
		</restriction>
	</simpleType>
	
	<simpleType name="SortByNoticePeriod_Type">
		<restriction base="integer">
			<enumeration value="0"/>
			<enumeration value="1"/>
			<enumeration value="2"/>
		</restriction>
	</simpleType>
	
	<simpleType name="SortByModificationDate_Type">
		<restriction base="integer">
			<enumeration value="0"/>
			<enumeration value="1"/>
			<enumeration value="2"/>
		</restriction>
	</simpleType>
	
	<complexType name="StatusList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="Status" type="bons0:Status_Type"/>
		</sequence>
	</complexType>
	
	<complexType name="Status_Type">
		<all>
			<element minOccurs="0" name="Id" type="integer"/>
		</all>
	</complexType>
	
	<complexType name="GetContractsListRs_BodyType">
		<all>
			<element minOccurs="1" name="ContractsList" type="bons0:ContractsList_Type"/>
			<element minOccurs="1" name="TotalRecordsCount" type="integer"/>
		</all>
	</complexType>
	
	
	<complexType name="ContractsList_Type">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="1" name="ContractsItem" type="bons0:ContractsItem_Type"/>
		</sequence>
	</complexType>
		
	<complexType name="ContractsItem_Type">
		<all>
		    <element minOccurs="1" name="ContractId" type="integer"/>
	        <element minOccurs="1" name="LaborerName" type="string"/>
		    <element minOccurs="1" name="ContractTypeNameEn" type="string"/>
		    <element minOccurs="1" name="ContractTypeNameAr" type="string"/>
			<element minOccurs="1" name="RequesterName" type="string"/>
			<element minOccurs="1" name="ExpiryDate" type="bons0:HGDate_Type"/>
			<element minOccurs="1" name="NoticePeriod" type="integer"/>
			<element minOccurs="1" name="LastModifiedDate" type="bons0:HGDate_Type"/>
			<element minOccurs="1" name="Status" type="bons0:CodeName_Type"/>
			<element minOccurs="1" name="RelatedTo" type="bons0:CodeName_Type"/>
			<element minOccurs="1" name="LaborerId" type="integer"/>
			<element minOccurs="1" name="EstablishmentNameAr" type="string"/>
			<element minOccurs="1" name="EstablishmentNameEn" type="string"/>
			<element minOccurs="1" name="IsExternal" type="integer"/>
		</all>
	</complexType>
	
	<complexType name="CodeName_Type">
		<all>
			<element minOccurs="1" name="Code" type="integer"/>
			<element minOccurs="1" name="NameAr" type="string"/>
			<element minOccurs="1" name="NameEn" type="string"/>
		</all>
	</complexType>
		
	<complexType name="HGDate_Type">
		<all>
			<element minOccurs="0" name="Hijri" type="integer"/>
			<element minOccurs="0" name="Greogrian" type="bons1:Tmstmp_Type"/>
		</all>
	</complexType>
	
</xsd:schema>