TerminateContractLib/ValidateEmployerEligibilityFinalExit/ValidateEmployerEligibilityFinalExit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/TerminateContract/ValidateEmployerEligibilityFinalExit/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/TerminateContract/ValidateEmployerEligibilityFinalExit/v1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:bons1="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>
  

	<xsd:element name="ValidateEmployerEligibilityFinalExitRq" type="bons0:ValidateEmployerEligibilityFinalExitRq_Type"/>
	<xsd:element name="ValidateEmployerEligibilityFinalExitRs" type="bons0:ValidateEmployerEligibilityFinalExitRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="ValidateEmployerEligibilityFinalExitRq_Type">
			<sequence>
				<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:ValidateEmployerEligibilityFinalExitRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="ValidateEmployerEligibilityFinalExitRs_Type">
			<sequence>
				<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
				<xsd:element minOccurs="1" name="Body" type="bons0:ValidateEmployerEligibilityFinalExitRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="ValidateEmployerEligibilityFinalExitRq_BodyType">
		<all>
			<element minOccurs="1" name="IDNumber"   type="string"/>
			<element minOccurs="1" name="NationalUnifiedNumber" type="string"/>
		</all>
	</complexType>
	
	
	<complexType name="ValidateEmployerEligibilityFinalExitRs_BodyType">
		<all>
			<element minOccurs="1" name="ContractExpiryDate" type="date"/>
		</all>
	</complexType>
	
</xsd:schema>