ValEstContractsAuth/XSD&Swagger/XSD/ValEstContractsAuth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://Qiwa/ContractManagement/ValEstContractsAuth/v1.0"

	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://Qiwa/ContractManagement/ValEstContractsAuth/v1.0"
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	xmlns:bons1="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types"
		schemaLocation="../common/types/ESB_common_types_v1.0.xsd" />

	<xsd:element
		name="ValidateEstablishmentContractsAuthenticationRq"
		type="bons0:ValidateEstablishmentContractsAuthenticationRq_Type" />

	<xsd:element
		name="ValidateEstablishmentContractsAuthenticationRs"
		type="bons0:ValidateEstablishmentContractsAuthenticationRs_Type" />

	<xsd:complexType
		name="ValidateEstablishmentContractsAuthenticationRs_Type">
		<xsd:sequence>
			<xsd:element name="Header"
				type="bons1:ESBXMLRequestHeader_Type" />
			<xsd:element name="Body"
				type="bons0:ValidateEstablishmentContractsAuthenticationRs_BodyType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType
		name="ValidateEstablishmentContractsAuthenticationRq_Type">
		<xsd:sequence>
			<xsd:element name="Header"
				type="bons1:ESBXMLRequestHeader_Type" />

			<xsd:element name="Body"
				type="bons0:ValidateEstablishmentContractsAuthenticationRq_BodyType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType
		name="ValidateEstablishmentContractsAuthenticationRq_BodyType">
		<xsd:all>
			<element minOccurs="1" name="LaborOfficeId" type="integer" />
			<element minOccurs="1" name="SequenceNumber" type="integer" />
			<element minOccurs="1" name="ServiceCode" type="string" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType
		name="ValidateEstablishmentContractsAuthenticationRs_BodyType">
		<xsd:all>
			<xsd:element minOccurs="0" name="ErrorList"
				type="bons0:ErrorList_Type" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="ErrorList_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="unbounded"
				name="Error" type="bons0:Error_Type" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Error_Type">
		<xsd:all>
			<xsd:element minOccurs="1" name="ErrorCode" type="string" />
			<xsd:element minOccurs="1" name="DescriptionEn"
				type="string" />
			<xsd:element minOccurs="1" name="DescriptionAr"
				type="string" />
		</xsd:all>
	</xsd:complexType>
	
</xsd:schema>
