GetContractStatuses/XSD&Swagger/XSD/GetContractStatuses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/ContractManagement/GetContractStatuses/v1.0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:bons0="http://Qiwa/ContractManagement/GetContractStatuses/v1.0" 
xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" 
xmlns:Q1="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>


	<xsd:element name="GetContractStatusesRq" type="bons0:GetContractStatusesRq_Type"/>
	<xsd:element name="GetContractStatusesRs" type="bons0:GetContractStatusesRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="GetContractStatusesRq_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:GetContractStatusesRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="GetContractStatusesRs_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLResponseHeader_Type"/>
				<xsd:element minOccurs="1" name="Body" type="bons0:GetContractStatusesRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="GetContractStatusesRq_BodyType">
		<all>
			
			
		
		</all>
	</complexType>
	
	<complexType name="GetContractStatusesRs_BodyType">
		<sequence>
		    <element minOccurs="1" name="StatusList" type="bons0:StatusList_Type" maxOccurs="1"/>

      </sequence>
	</complexType>
	<xsd:complexType name="StatusList_Type">
		<xsd:sequence>
			<xsd:element name="StatusItem" type="bons0:StatusItem_Type" minOccurs="1" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="StatusItem_Type">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:integer" minOccurs="1"
				maxOccurs="1">
			</xsd:element>
			<xsd:element name="NameAr" type="xsd:string" minOccurs="1"
				maxOccurs="1">
			</xsd:element>
			<xsd:element name="NameEn" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	
	
	
	

	
	



</xsd:schema>