CreateContractTemplate/XSD&Swagger/XSD/CreateContractTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/ContractManagement/CreateContractTemplate/v1.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://Qiwa/ContractManagement/CreateContractTemplate/v1.0"
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:Q1="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types"
		schemaLocation="../common/types/ESB_common_types_v1.0.xsd" />


	<xsd:element name="CreateContractTemplateRq" type="bons0:CreateContractTemplateRq_Type" />
	<xsd:element name="CreateContractTemplateRs" type="bons0:CreateContractTemplateRs_Type" />

	<complexType ibmSchExtn:docRoot="true"
		name="CreateContractTemplateRq_Type">
		<sequence>
			<xsd:element name="Header" type="Q1:ESBXMLRequestHeader_Type" />
			<xsd:element name="Body"
				type="bons0:CreateContractTemplateRq_BodyType" />
		</sequence>
	</complexType>

	<complexType ibmSchExtn:docRoot="true"
		name="CreateContractTemplateRs_Type">
		<sequence>
			<xsd:element name="Header" type="Q1:ESBXMLResponseHeader_Type" />
			<xsd:element minOccurs="1" name="Body"
				type="bons0:CreateContractTemplateRs_BodyType" />
		</sequence>
	</complexType>

	<complexType name="CreateContractTemplateRq_BodyType">
		<all>
			<element minOccurs="1" name="EstablishmentDetails" type="bons0:EstablishmentDetails_Type" />
			<element minOccurs="0" name="LaborerDetails" type="bons0:LaborerDetails_Type" />
			<element minOccurs="0" name="RequesterDetails" type="bons0:RequesterDetails_Type" />
			<element minOccurs="0" name="ContractDetails" type="bons0:ContractDetails_Type" />
			<element minOccurs="0" name="ClausesList" type="bons0:ClausesList_Type" />
			<element minOccurs="1" name="LanguageId" type="integer" />
			<element minOccurs="1" name="TemplateName" type="string" />
			<element minOccurs="0" name="TemplateDescription" type="string" />
			<element minOccurs="0" name="DateTypeId" type="bons0:Integer_1_2_Type" />
		</all>
	</complexType>



	<complexType name="EstablishmentDetails_Type">
		<all>
			<element minOccurs="1" name="LaborOfficeId" type="integer" />
			<element minOccurs="1" name="SequenceNumber" type="integer" />
			<element minOccurs="0" name="EstablishmentId" type="integer" />
			<element minOccurs="0" name="UnifiedNumberId" type="integer" />
			<element minOccurs="0" name="EntityId" type="string" />
			<element minOccurs="0" name="EstablishmentNameAr" type="string" />
			<element minOccurs="0" name="EstablishmentNameEn" type="string" />
			<element minOccurs="1" name="EstablishmentEmail" type="string" />
		</all>
	</complexType>
	
	<complexType name="LaborerDetails_Type">
		<all>
			<element minOccurs="0" name="LaborerIdNo" type="integer" />
			<element minOccurs="0" name="LaborerName" type="string" />
			<element minOccurs="0" name="LaborerTypeId" type="integer" />
			<element minOccurs="0" name="LaborerIdExpiryDate" type="Q1:Dt_Type" />
			<element minOccurs="0" name="LaborerEmail" type="string" />
			<element minOccurs="0" name="LaborerMobileNumber" type="integer" />
		</all>
	</complexType>

	<complexType name="RequesterDetails_Type">
		<all>
			<element minOccurs="0" name="RequesterIdNo" type="integer" />
			<element minOccurs="0" name="RequesterName" type="string" />
			<element minOccurs="0" name="RequesterUserId" type="integer" />
		</all>
	</complexType>

	<complexType name="ContractDetails_Type">
		<all>
			<element minOccurs="0" name="JobTitle" type="bons0:JobTitle_Type" />
			<element minOccurs="0" name="LaborerJobNumber" type="integer" />
			<element minOccurs="0" name="ContractTypeId" type="bons0:Integer_1_2_3_4_Type" />
			<element minOccurs="1" name="ContractDurationId" type="bons0:Integer_1_2_Type" />
			<element minOccurs="0" name="ContractPeriod" type="integer" />
			<element minOccurs="0" name="ProbationPeriod" type="integer" />
			<element minOccurs="0" name="ProbationTerminationRight" type="bons0:Integer_1_2_3_4_Type" />
			<element minOccurs="0" name="WorkingHoursTypeId" type="bons0:Integer_1_2_Type" />
			<element minOccurs="0" name="VacationPeriod" type="integer" />
			<element minOccurs="0" name="Salary" type="decimal" />
			<element minOccurs="0" name="StartDate" type="bons0:HGDate_Type" />
			<element minOccurs="0" name="ExpiryDate" type="bons0:HGDate_Type" />
			<element minOccurs="0" name="RenewalStatusId" type="bons0:Integer_1_2_Type" />
			<element minOccurs="0" name="NoticePeriod" type="integer" />
			<element minOccurs="0" name="SalaryFrequency" type="bons0:Integer_1_2_Type" />
			<element minOccurs="0" name="AdditionalAllowancesList" type="bons0:AdditionalAllowancesList_Type" />
			<element minOccurs="0" name="HoursPerWeek" type="integer" />
			<element minOccurs="0" name="DaysPerWeek" type="integer" />
			<element minOccurs="0" name="HoursPerDay" type="integer" />
			<element minOccurs="0" name="OptionalArticles" type="bons0:OptionalArticles_Type" />
			<element minOccurs="0" name="OccupationId" type="integer" />
			<element minOccurs="0" name="SalaryTypeId" type="bons0:Integer_1_2_Type" />			
			<element minOccurs="0" name="PercentageReasonEN" type="string" />
			<element minOccurs="0" name="PercentageReasonAR" type="string" />
		</all>
	</complexType>
	
	<simpleType name="Integer_1_2_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
		</restriction>
	</simpleType>
	
	<simpleType name="Integer_1_2_3_4_Type">
		<restriction base="integer">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
			<enumeration value="4"/>
		</restriction>
	</simpleType>
	
	<complexType name="JobTitle_Type">
		<all>
			<element minOccurs="0" name="JobTitleAr" type="string" />
			<element minOccurs="0" name="JobTitleEng" type="string" />
		</all>
	</complexType>
	
	
	
	<complexType name="HGDate_Type">
		<all>
			<element minOccurs="0" name="HijriDate" type="integer" />
			<element minOccurs="0" name="GregDate" type="Q1:Tmstmp_Type" />
		</all>
	</complexType>
	

	


	<complexType name="ClausesList_Type">
		<sequence>
			<element minOccurs="0" maxOccurs="unbounded" name="AddedClauses"
				type="bons0:KeyValue_Type" />
			<element minOccurs="0" maxOccurs="unbounded" name="Allowances"
				type="bons0:KeyValue_Type" />
		</sequence>
	</complexType>

	<complexType name="KeyValue_Type">
		<all>
			<element minOccurs="0" name="Key" type="string" />
			<element minOccurs="0" name="Value" type="string" />
		</all>
	</complexType>

	<complexType name="AdditionalAllowancesList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="Items"
				type="bons0:Items_Type" />
		</sequence>
	</complexType>

	<complexType name="Items_Type">
		<all>
			<element minOccurs="0" name="BenefitNameAr" type="string" />
			<element minOccurs="0" name="BenefitNameEn" type="string" />
			<element minOccurs="0" name="Frequency" type="bons0:Integer_1_2_3_4_Type" />
			<element minOccurs="0" name="AmountType" type="bons0:Integer_1_2_Type" />
			<element minOccurs="0" name="Amount" type="decimal" />
		</all>
	</complexType>
	

	<complexType name="OptionalArticles_Type">
		<sequence>
			<element minOccurs="0" name="Period" type="integer" />
			<element minOccurs="0" name="Location" type="string" />
			<element minOccurs="0" name="WorkField" type="string" />
		</sequence>
	</complexType>

	<complexType name="CreateContractTemplateRs_BodyType">
		<all>
			<element minOccurs="1" name="TemplateId" type="integer" />
		</all>
	</complexType>
</xsd:schema>