TerminateContractLib/SubmitTCReqByLaborer/SubmitTCReqByLaborer.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://Qiwa/TerminateContract/SubmitTCReqByLaborer/v1.0"
xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:bons0="http://Qiwa/TerminateContract/SubmitTCReqByLaborer/v1.0"
xmlns:bons1="http://Qiwa/Common/Types" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>
	

    <xsd:element name="SubmitTCReqByLaborerRq" type="bons0:SubmitTCReqByLaborerRq_Type"/>
	<xsd:element name="SubmitTCReqByLaborerRs" type="bons0:SubmitTCReqByLaborerRs_Type"/>

	<complexType name="SubmitTCReqByLaborerRq_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>
			<xsd:element name="Body" type="bons0:SubmitTCReqByLaborerRq_BodyType" minOccurs="1"/>
		</sequence>
	</complexType>


	<complexType name="SubmitTCReqByLaborerRs_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
			<xsd:element minOccurs="0" name="Body" type="bons0:SubmitTCReqByLaborerRs_BodyType"/>
		</sequence>
	</complexType>


	<complexType name="SubmitTCReqByLaborerRq_BodyType">
		<all>
		<element minOccurs="1" name="LaborOfficeId" type="integer"/>
		<element minOccurs="1" name="SequenceNumber" type="integer"/>
		<element name="TCReason">
  			<simpleType>
   				 <restriction base="integer">
    				 <enumeration value="1"/>
            		 <enumeration value="2"/>
            		 <enumeration value="3"/>
    			</restriction>
 		 	</simpleType>
		</element>
		 </all>
	</complexType>
	

	<complexType name="SubmitTCReqByLaborerRs_BodyType">
		<all>
	<element minOccurs="1" name="TCRequestId" type="integer"/>
	<element minOccurs="0" name="ErrorsList" type="bons0:ErrorsList_Type"/>
		</all>
	</complexType>
	
	<complexType name="ErrorsList_Type" >
		<sequence>
    	<element minOccurs="0" maxOccurs="unbounded" name="Error" type="bons0:Error_Type"/> 
      </sequence>
	</complexType>
	<complexType name="Error_Type" >
		<all>
    	 <element minOccurs="1" name="ErrorCode" type="integer"/>
		 <element minOccurs="1" name="DescriptionAr" type="string"/>
	 	 <element minOccurs="1" name="DescriptionEn" type="string"/>
	 	 
       </all>
	</complexType>
		
	
	
	
</xsd:schema>